In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
import pyspark.sql.functions as f
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
conf = SparkConf().setAppName('umsi618f22lab7').set("spark.hadoop.validateOutputSpecs", "false")
sc = SparkContext.getOrCreate(conf = conf)
sqlc = SQLContext(sc)

/sw/pkgs/arc/spark/spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [178]:
input_file = sc.textFile("movies_metadata_2.csv")
input_file = input_file.flatMap(lambda line: [line.split(",")[:8]])
input_file = input_file.filter(lambda line: line[0].isnumeric() and line[3].isnumeric() and line[4].isnumeric() and line[5].isnumeric() and line[6].isnumeric() and line[7].isnumeric())
metadata_df = input_file.toDF()
metadata_df.registerTempTable("metadata_df")
metadata_df.show(20)
metadata_df.count()

+--------+--------------------+----------+---------+---+---+---+----+
|      _1|                  _2|        _3|       _4| _5| _6| _7|  _8|
+--------+--------------------+----------+---------+---+---+---+----+
|30000000|           Toy Story|10/30/1995|373554033| 81| 10| 30|1995|
|65000000|             Jumanji|12/15/1995|262797249|104| 12| 15|1995|
|       0|    Grumpier Old Men|12/22/1995|        0|101| 12| 22|1995|
|16000000|   Waiting to Exhale|12/22/1995| 81452156|127| 12| 22|1995|
|       0|Father of the Bri...| 2/10/1995| 76578911|106|  2| 10|1995|
|60000000|                Heat|12/15/1995|187436818|170| 12| 15|1995|
|58000000|             Sabrina|12/15/1995|        0|127| 12| 15|1995|
|       0|        Tom and Huck|12/22/1995|        0| 97| 12| 22|1995|
|35000000|        Sudden Death|12/22/1995| 64350171|106| 12| 22|1995|
|58000000|           GoldenEye|11/16/1995|352194034|130| 11| 16|1995|
|62000000|The American Pres...|11/17/1995|107879496|106| 11| 17|1995|
|       0|Dracula: Dead and...|12/22/1995|        0| 88| 12| 22|1995|
|       0|               Balto|12/22/1995| 11348324| 78| 12| 22|1995|
|44000000|               Nixon|12/22/1995| 13681765|192| 12| 22|1995|
|98000000|    Cutthroat Island|12/22/1995| 10017322|119| 12| 22|1995|
|52000000|              Casino|11/22/1995|116112375|178| 11| 22|1995|
|16500000|Sense and Sensibi...|12/13/1995|135000000|136| 12| 13|1995|
| 4000000|          Four Rooms| 12/9/1995|  4300000| 98| 12|  9|1995|
|30000000|Ace Ventura: When...|11/10/1995|212385533| 90| 11| 10|1995|
|60000000|         Money Train|11/21/1995| 35431113|103| 11| 21|1995|
+--------+--------------------+----------+---------+---+---+---+----+
only showing top 20 rows

43098

In [180]:
metadata_df = sqlc.sql("""
SELECT  
_2 as Title, 
_3 as Release_Date, 
CAST(_1 as int) as Budget,
CAST(_4 as int) as Revenue,
CAST(_4 as int)-CAST(_1 as int) as Profit,
CAST(_5 as int) as Run_Time,
CAST(_6 as int) as Month,
CAST(_7 as int) as Day,
CAST(_8 as int) as Year
FROM metadata_df
""")
metadata_df.show()
metadata_df.count()

+--------------------+------------+--------+---------+---------+--------+-----+---+----+
|               Title|Release_Date|  Budget|  Revenue|   Profit|Run_Time|Month|Day|Year|
+--------------------+------------+--------+---------+---------+--------+-----+---+----+
|           Toy Story|  10/30/1995|30000000|373554033|343554033|      81|   10| 30|1995|
|             Jumanji|  12/15/1995|65000000|262797249|197797249|     104|   12| 15|1995|
|    Grumpier Old Men|  12/22/1995|       0|        0|        0|     101|   12| 22|1995|
|   Waiting to Exhale|  12/22/1995|16000000| 81452156| 65452156|     127|   12| 22|1995|
|Father of the Bri...|   2/10/1995|       0| 76578911| 76578911|     106|    2| 10|1995|
|                Heat|  12/15/1995|60000000|187436818|127436818|     170|   12| 15|1995|
|             Sabrina|  12/15/1995|58000000|        0|-58000000|     127|   12| 15|1995|
|        Tom and Huck|  12/22/1995|       0|        0|        0|      97|   12| 22|1995|
|        Sudden Death|  12/22/1995|35000000| 64350171| 29350171|     106|   12| 22|1995|
|           GoldenEye|  11/16/1995|58000000|352194034|294194034|     130|   11| 16|1995|
|The American Pres...|  11/17/1995|62000000|107879496| 45879496|     106|   11| 17|1995|
|Dracula: Dead and...|  12/22/1995|       0|        0|        0|      88|   12| 22|1995|
|               Balto|  12/22/1995|       0| 11348324| 11348324|      78|   12| 22|1995|
|               Nixon|  12/22/1995|44000000| 13681765|-30318235|     192|   12| 22|1995|
|    Cutthroat Island|  12/22/1995|98000000| 10017322|-87982678|     119|   12| 22|1995|
|              Casino|  11/22/1995|52000000|116112375| 64112375|     178|   11| 22|1995|
|Sense and Sensibi...|  12/13/1995|16500000|135000000|118500000|     136|   12| 13|1995|
|          Four Rooms|   12/9/1995| 4000000|  4300000|   300000|      98|   12|  9|1995|
|Ace Ventura: When...|  11/10/1995|30000000|212385533|182385533|      90|   11| 10|1995|
|         Money Train|  11/21/1995|60000000| 35431113|-24568887|     103|   11| 21|1995|
+--------------------+------------+--------+---------+---------+--------+-----+---+----+
only showing top 20 rows

43098

In [181]:
metadata_df_1 = sqlc.sql("""
SELECT  
metadata_df._2 as Title, 
metadata_df._3 as Release_Date, 
CAST(metadata_df._1 as int) as Budget,
CAST(metadata_df._4 as int) as Revenue,
CAST(metadata_df._4 as int)-CAST(metadata_df._1 as int) as Profit,
CAST(metadata_df._5 as int) as Run_Time,
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) as Adjusted_Month,
CAST(metadata_df._7 as int) as Day,
CAST(metadata_df._8 as int) as Year
FROM metadata_df
""")
metadata_df_1.show()
metadata_df.count()

+--------------------+------------+--------+---------+---------+--------+--------------+---+----+
|               Title|Release_Date|  Budget|  Revenue|   Profit|Run_Time|Adjusted_Month|Day|Year|
+--------------------+------------+--------+---------+---------+--------+--------------+---+----+
|           Toy Story|  10/30/1995|30000000|373554033|343554033|      81|            11| 30|1995|
|             Jumanji|  12/15/1995|65000000|262797249|197797249|     104|            12| 15|1995|
|    Grumpier Old Men|  12/22/1995|       0|        0|        0|     101|            13| 22|1995|
|   Waiting to Exhale|  12/22/1995|16000000| 81452156| 65452156|     127|            13| 22|1995|
|Father of the Bri...|   2/10/1995|       0| 76578911| 76578911|     106|             2| 10|1995|
|                Heat|  12/15/1995|60000000|187436818|127436818|     170|            12| 15|1995|
|             Sabrina|  12/15/1995|58000000|        0|-58000000|     127|            12| 15|1995|
|        Tom and Huck|  12/22/1995|       0|        0|        0|      97|            13| 22|1995|
|        Sudden Death|  12/22/1995|35000000| 64350171| 29350171|     106|            13| 22|1995|
|           GoldenEye|  11/16/1995|58000000|352194034|294194034|     130|            12| 16|1995|
|The American Pres...|  11/17/1995|62000000|107879496| 45879496|     106|            12| 17|1995|
|Dracula: Dead and...|  12/22/1995|       0|        0|        0|      88|            13| 22|1995|
|               Balto|  12/22/1995|       0| 11348324| 11348324|      78|            13| 22|1995|
|               Nixon|  12/22/1995|44000000| 13681765|-30318235|     192|            13| 22|1995|
|    Cutthroat Island|  12/22/1995|98000000| 10017322|-87982678|     119|            13| 22|1995|
|              Casino|  11/22/1995|52000000|116112375| 64112375|     178|            12| 22|1995|
|Sense and Sensibi...|  12/13/1995|16500000|135000000|118500000|     136|            12| 13|1995|
|          Four Rooms|   12/9/1995| 4000000|  4300000|   300000|      98|            12|  9|1995|
|Ace Ventura: When...|  11/10/1995|30000000|212385533|182385533|      90|            11| 10|1995|
|         Money Train|  11/21/1995|60000000| 35431113|-24568887|     103|            12| 21|1995|
+--------------------+------------+--------+---------+---------+--------+--------------+---+----+
only showing top 20 rows

43098

In [182]:
metadata_df_2 = sqlc.sql("""
SELECT Title,Release_Date,Budget,Revenue,Profit,Run_Time,Adjusted_Month_2 as Month,Adjusted_Year as Year FROM
(SELECT  
metadata_df._2 as Title, 
metadata_df._3 as Release_Date, 
CAST(metadata_df._1 as int) as Budget,
CAST(metadata_df._4 as int) as Revenue,
CAST(metadata_df._4 as int)-CAST(metadata_df._1 as int) as Profit,
CAST(metadata_df._5 as int) as Run_Time,
CAST(_6 as int) as Month,
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) 
as Adjusted_Month_1,
CAST(metadata_df._7 as int) as Day,
CAST(metadata_df._8 as int) as Year,
(CASE WHEN (CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 
ELSE CAST(metadata_df._6 as int) END) > 12 THEN CAST(metadata_df._8 as int)+1 ELSE CAST(metadata_df._8 as int) END) 
as Adjusted_Year,
(CASE WHEN 
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) 
> 12
THEN 
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END)-12 
ELSE 
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) 
END) as Adjusted_Month_2
FROM metadata_df)

""")
metadata_df_2.registerTempTable("metadata_df_2")
metadata_df_2.show()

+--------------------+------------+--------+---------+---------+--------+-----+----+
|               Title|Release_Date|  Budget|  Revenue|   Profit|Run_Time|Month|Year|
+--------------------+------------+--------+---------+---------+--------+-----+----+
|           Toy Story|  10/30/1995|30000000|373554033|343554033|      81|   11|1995|
|             Jumanji|  12/15/1995|65000000|262797249|197797249|     104|   12|1995|
|    Grumpier Old Men|  12/22/1995|       0|        0|        0|     101|    1|1996|
|   Waiting to Exhale|  12/22/1995|16000000| 81452156| 65452156|     127|    1|1996|
|Father of the Bri...|   2/10/1995|       0| 76578911| 76578911|     106|    2|1995|
|                Heat|  12/15/1995|60000000|187436818|127436818|     170|   12|1995|
|             Sabrina|  12/15/1995|58000000|        0|-58000000|     127|   12|1995|
|        Tom and Huck|  12/22/1995|       0|        0|        0|      97|    1|1996|
|        Sudden Death|  12/22/1995|35000000| 64350171| 29350171|     106|    1|1996|
|           GoldenEye|  11/16/1995|58000000|352194034|294194034|     130|   12|1995|
|The American Pres...|  11/17/1995|62000000|107879496| 45879496|     106|   12|1995|
|Dracula: Dead and...|  12/22/1995|       0|        0|        0|      88|    1|1996|
|               Balto|  12/22/1995|       0| 11348324| 11348324|      78|    1|1996|
|               Nixon|  12/22/1995|44000000| 13681765|-30318235|     192|    1|1996|
|    Cutthroat Island|  12/22/1995|98000000| 10017322|-87982678|     119|    1|1996|
|              Casino|  11/22/1995|52000000|116112375| 64112375|     178|   12|1995|
|Sense and Sensibi...|  12/13/1995|16500000|135000000|118500000|     136|   12|1995|
|          Four Rooms|   12/9/1995| 4000000|  4300000|   300000|      98|   12|1995|
|Ace Ventura: When...|  11/10/1995|30000000|212385533|182385533|      90|   11|1995|
|         Money Train|  11/21/1995|60000000| 35431113|-24568887|     103|   12|1995|
+--------------------+------------+--------+---------+---------+--------+-----+----+
only showing top 20 rows

In [8]:
input_file = sc.textFile("US CPI.csv")
input_file = input_file.flatMap(lambda line: [line.split(",")[:5]+line.split(",")[0].split("/")])
cpi_df = input_file.toDF()
cpi_df.registerTempTable("cpi_df")
cpi_df.show()
cpi_df.count()

+---------+----+---+---+----+
|       _1|  _2| _3| _4|  _5|
+---------+----+---+---+----+
| 1/1/1913| 9.8|  1|  1|1913|
| 1/2/1913| 9.8|  1|  2|1913|
| 1/3/1913| 9.8|  1|  3|1913|
| 1/4/1913| 9.8|  1|  4|1913|
| 1/5/1913| 9.7|  1|  5|1913|
| 1/6/1913| 9.8|  1|  6|1913|
| 1/7/1913| 9.9|  1|  7|1913|
| 1/8/1913| 9.9|  1|  8|1913|
| 1/9/1913|  10|  1|  9|1913|
|1/10/1913|  10|  1| 10|1913|
|1/11/1913|10.1|  1| 11|1913|
|1/12/1913|  10|  1| 12|1913|
| 1/1/1914|  10|  1|  1|1914|
| 1/2/1914| 9.9|  1|  2|1914|
| 1/3/1914| 9.9|  1|  3|1914|
| 1/4/1914| 9.8|  1|  4|1914|
| 1/5/1914| 9.9|  1|  5|1914|
| 1/6/1914| 9.9|  1|  6|1914|
| 1/7/1914|  10|  1|  7|1914|
| 1/8/1914|10.2|  1|  8|1914|
+---------+----+---+---+----+
only showing top 20 rows

1303

In [9]:
cpi_df_1 = sqlc.sql("""
SELECT  
cpi_df._1 as Date, 
CAST(cpi_df._2 as double) as CPI, 
CAST(cpi_df._3 as int) as Day,
CAST(cpi_df._4 as int) as Month,
CAST(cpi_df._5 as int) as Year
FROM cpi_df
""")
cpi_df_1.registerTempTable("cpi_df_1")
cpi_df_1.show()

+---------+----+---+-----+----+
|     Date| CPI|Day|Month|Year|
+---------+----+---+-----+----+
| 1/1/1913| 9.8|  1|    1|1913|
| 1/2/1913| 9.8|  1|    2|1913|
| 1/3/1913| 9.8|  1|    3|1913|
| 1/4/1913| 9.8|  1|    4|1913|
| 1/5/1913| 9.7|  1|    5|1913|
| 1/6/1913| 9.8|  1|    6|1913|
| 1/7/1913| 9.9|  1|    7|1913|
| 1/8/1913| 9.9|  1|    8|1913|
| 1/9/1913|10.0|  1|    9|1913|
|1/10/1913|10.0|  1|   10|1913|
|1/11/1913|10.1|  1|   11|1913|
|1/12/1913|10.0|  1|   12|1913|
| 1/1/1914|10.0|  1|    1|1914|
| 1/2/1914| 9.9|  1|    2|1914|
| 1/3/1914| 9.9|  1|    3|1914|
| 1/4/1914| 9.8|  1|    4|1914|
| 1/5/1914| 9.9|  1|    5|1914|
| 1/6/1914| 9.9|  1|    6|1914|
| 1/7/1914|10.0|  1|    7|1914|
| 1/8/1914|10.2|  1|    8|1914|
+---------+----+---+-----+----+
only showing top 20 rows

In [183]:
metadata_df_4 = sqlc.sql("""
SELECT Title, Release_Date, Adjusted_Budget, Adjusted_Revenue, Adjusted_Profit FROM
(SELECT A.Title as Title, A.Release_Date as Release_Date, A.Budget as Budget,A.Revenue as Revenue,A.Profit as Profit, 
A.Run_Time as Run_Time,
B.CPI as CPI,
A.Budget/B.CPI as Adjusted_Budget,
A.Revenue/B.CPI as Adjusted_Revenue,
A.Profit/B.CPI as Adjusted_Profit
FROM
metadata_df_2 as A
LEFT JOIN cpi_df_1 as B
ON A.Year = B.Year AND A.Month = B.MONTH)
""")
metadata_df_4.registerTempTable("metadata_df_4")
metadata_df_4.show(20)

+--------------------+------------+------------------+------------------+-------------------+
|               Title|Release_Date|   Adjusted_Budget|  Adjusted_Revenue|    Adjusted_Profit|
+--------------------+------------+------------------+------------------+-------------------+
|             Jumanji|  12/15/1995| 423452.7687296417|1712034.1954397394| 1288581.4267100978|
|                Heat|  12/15/1995|390879.47882736154|1221086.7622149838|  830207.2833876221|
|             Sabrina|  12/15/1995| 377850.1628664495|               0.0| -377850.1628664495|
|           GoldenEye|  11/16/1995| 377850.1628664495| 2294423.674267101| 1916573.5114006514|
|The American Pres...|  11/17/1995|403908.79478827363|  702798.019543974|  298889.2247557003|
|              Casino|  11/22/1995|338762.21498371335| 756432.4104234527|  417670.1954397394|
|Sense and Sensibi...|  12/13/1995|107491.85667752443| 879478.8273615636|   771986.970684039|
|          Four Rooms|   12/9/1995|26058.631921824104|28013.029315960914| 1954.3973941368079|
|         Money Train|  11/21/1995|390879.47882736154|230821.58306188925|-160057.89576547232|
|           Toy Story|  10/30/1995|          195312.5|  2431992.40234375|   2236679.90234375|
|Ace Ventura: When...|  11/10/1995|          195312.5|1382718.3138020835| 1187405.8138020835|
|          Get Shorty|  10/20/1995| 196940.1041666667| 749359.5182291667|     552419.4140625|
|Father of the Bri...|   2/10/1995|               0.0| 507481.1862160371|  507481.1862160371|
|    Grumpier Old Men|  12/22/1995|               0.0|               0.0|                0.0|
|   Waiting to Exhale|  12/22/1995|103626.94300518134| 527539.8704663212| 423912.92746113986|
|        Tom and Huck|  12/22/1995|               0.0|               0.0|                0.0|
|        Sudden Death|  12/22/1995| 226683.9378238342|416775.71891191707|  190091.7810880829|
|Dracula: Dead and...|  12/22/1995|               0.0|               0.0|                0.0|
|               Balto|  12/22/1995|               0.0| 73499.50777202072|  73499.50777202072|
|               Nixon|  12/22/1995| 284974.0932642487| 88612.46761658031|-196361.62564766838|
+--------------------+------------+------------------+------------------+-------------------+
only showing top 20 rows

In [184]:
metadata_df_4.printSchema()

root
 |-- Title: string (nullable = true)
 |-- Release_Date: string (nullable = true)
 |-- Adjusted_Budget: double (nullable = true)
 |-- Adjusted_Revenue: double (nullable = true)
 |-- Adjusted_Profit: double (nullable = true)

In [ ]:
# from command prompt
pyspark --packages com.databricks:spark-csv_2.10:1.4.0

# on pyspark 
 schema1 = StructType ([ StructField("id",IntegerType(), True), \
         StructField("cat_id",IntegerType(), True), \
         StructField("name",StringType(), True),\
         StructField("desc",StringType(), True),\
         StructField("price",DecimalType(), True), \
         StructField("url",StringType(), True)
         ])

In [185]:
metadata_df_5 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit FROM
(SELECT A.Title as Title, A.Release_Date as Release_Date, A.Budget as Budget,A.Revenue as Revenue,A.Profit as Profit, 
A.Run_Time as Run_Time,
B.CPI as CPI,
A.Budget/B.CPI as Adjusted_Budget,
A.Revenue/B.CPI as Adjusted_Revenue,
A.Profit/B.CPI as Adjusted_Profit
FROM
metadata_df_2 as A
LEFT JOIN cpi_df_1 as B
ON A.Year = B.Year AND A.Month = B.MONTH)
""")
metadata_df_5.registerTempTable("metadata_df_5")
metadata_df_5.show(20)

+--------------------+------------+--------+---------+---------+
|               Title|Release_Date|  Budget|  Revenue|   Profit|
+--------------------+------------+--------+---------+---------+
|             Jumanji|  12/15/1995|65000000|262797249|197797249|
|                Heat|  12/15/1995|60000000|187436818|127436818|
|             Sabrina|  12/15/1995|58000000|        0|-58000000|
|           GoldenEye|  11/16/1995|58000000|352194034|294194034|
|The American Pres...|  11/17/1995|62000000|107879496| 45879496|
|              Casino|  11/22/1995|52000000|116112375| 64112375|
|Sense and Sensibi...|  12/13/1995|16500000|135000000|118500000|
|          Four Rooms|   12/9/1995| 4000000|  4300000|   300000|
|         Money Train|  11/21/1995|60000000| 35431113|-24568887|
|           Toy Story|  10/30/1995|30000000|373554033|343554033|
|Ace Ventura: When...|  11/10/1995|30000000|212385533|182385533|
|          Get Shorty|  10/20/1995|30250000|115101622| 84851622|
|Father of the Bri...|   2/10/1995|       0| 76578911| 76578911|
|    Grumpier Old Men|  12/22/1995|       0|        0|        0|
|   Waiting to Exhale|  12/22/1995|16000000| 81452156| 65452156|
|        Tom and Huck|  12/22/1995|       0|        0|        0|
|        Sudden Death|  12/22/1995|35000000| 64350171| 29350171|
|Dracula: Dead and...|  12/22/1995|       0|        0|        0|
|               Balto|  12/22/1995|       0| 11348324| 11348324|
|               Nixon|  12/22/1995|44000000| 13681765|-30318235|
+--------------------+------------+--------+---------+---------+
only showing top 20 rows

In [192]:
metadata_df_6 = sqlc.sql("""
SELECT Title, Release_Date, Adjusted_Profit FROM
metadata_df_4
ORDER BY Adjusted_Profit DESC
""")
metadata_df_6.show(200)

+--------------------+------------+--------------------+
|               Title|Release_Date|     Adjusted_Profit|
+--------------------+------------+--------------------+
|  Gone with the Wind|  12/15/1939|        2.82983185E7|
| Alice in Wonderland|    7/3/1951| 2.196911196911197E7|
|               Bambi|   8/14/1942|1.6156918181818182E7|
|Snow White and th...|  12/20/1937|1.2918103028169015E7|
|           Star Wars|   5/25/1977|1.2593047891268533E7|
|          Cinderella|    3/4/1950|1.1046246398305085E7|
|             Titanic|  11/18/1997|1.0198600049597023E7|
|        The Exorcist|  12/26/1973|   9298415.128755365|
|  The Sound of Music|    3/2/1965|   8882245.559105432|
|                Jaws|   6/18/1975|    8554501.84501845|
|E.T. the Extra-Te...|    4/3/1982|   8245156.227608008|
|Star Wars: The Fo...|  12/15/2015|   7708375.960257901|
|One Hundred and O...|   1/25/1961|   7110067.583892617|
|The Empire Strike...|   5/17/1980|  6292623.9419588875|
|     The Jungle Book|  10/17/1967|   5971704.497041421|
|       Jurassic Park|   6/11/1993|   5935595.567867036|
|           Pinocchio|   2/23/1940|   5835714.285714285|
|            Fantasia|  11/13/1940|   5788571.428571428|
|       The Godfather|   3/14/1972|   5774550.990338164|
|      Jurassic World|    6/9/2015|    5713795.83301905|
|        The Avengers|   4/25/2012|   5654800.208863651|
|           Furious 7|    4/1/2015|   5563207.621333987|
|The Lord of the R...|   12/1/2003|    5560981.98046663|
|  Return of the Jedi|   5/23/1983|   5430653.266331659|
|Harry Potter and ...|    7/7/2011|   5386814.918423173|
|       The Lion King|   6/23/1994|   5008367.762803234|
|Star Wars: Episod...|   5/19/1999|   4869540.060168472|
|              Frozen|  11/27/2013|   4823959.806735923|
|Harry Potter and ...|  11/16/2001|   4818763.723825693|
|Avengers: Age of ...|   4/22/2015|   4732464.388890057|
|    Independence Day|   6/25/1996|   4725918.904458599|
|The Lord of the R...|  12/18/2002|   4663111.722619703|
|        Finding Nemo|   5/30/2003|   4607161.328252586|
|Close Encounters ...|  11/16/1977|   4569865.297906602|
|             Minions|   6/17/2015|   4536823.024126979|
|Beauty and the Beast|   3/16/2017|   4510339.831672965|
|             Ben-Hur|  12/26/1959|   4501706.484641638|
|The Lord of the R...|  12/18/2001|   4395078.283455675|
|          Iron Man 3|   4/18/2013|  4359140.5439052135|
|Harry Potter and ...|  11/13/2002|  4283996.0397131825|
|         Thunderball|  12/16/1965|  4267159.0566037735|
|Pirates of the Ca...|   6/20/2006|    4253856.57002457|
|        Forrest Gump|    7/6/1994|   4197745.276280323|
|Transformers: Dar...|   6/28/2011|  4110918.7949823393|
|Raiders of the Lo...|   6/12/1981|  4105143.1677704197|
|             Shrek 2|   5/19/2004|  4058190.6062203483|
|The Fate of the F...|   4/12/2017|  4043630.7479020464|
|The Ten Commandments|   10/5/1956|   3989090.909090909|
|         Toy Story 3|   6/16/2010|  3976724.5827045427|
|             Skyfall|  10/25/2012|  3946473.2278984105|
|          Goldfinger|   9/17/1964|  3935082.3794212216|
|     Despicable Me 3|   6/15/2017|    3837698.28744055|
|     Despicable Me 2|   6/25/2013|  3830381.8772581723|
|          Spider-Man|    5/1/2002|  3797044.2213570634|
| Alice in Wonderland|    3/3/2010|   3793076.859454765|
|Star Wars: Episod...|   5/17/2005|   3789203.084832905|
|     The Sixth Sense|    8/6/1999|  3786991.5739078396|
|Harry Potter and ...|   6/28/2007|    3784044.75297529|
|Harry Potter and ...|   11/5/2005|   3774904.028340081|
|Captain America: ...|   4/27/2016|   3760180.889900886|
|     The Dark Knight|   7/16/2008|   3740807.007293939|
|Saturday Night Fever|  12/16/1977|         3737810.944|
|               Ghost|   7/12/1990|  3703987.7300613495|
|Transformers: Age...|   6/25/2014|    3699496.73452256|
|Ice Age: Dawn of ...|   6/29/2009|   3699480.462129268|
|            Zootopia|   2/11/2016|  3685127.1978103085|
|The Dark Knight R...|   7/16/2012|   3624197.947729611|
|            Superman|  12/13/1978|  3622127.2968980796|
|Rogue One: A Star...|  12/14/2016|   3545749.001789324|
|    Live and Let Die|    7/5/1973|  3493856.3431151244|
|  Lady and the Tramp|   6/16/1955|  3492537.3134328355|
|        Pretty Woman|   3/23/1990|   3483320.403413499|
|Harry Potter and ...|   5/31/2004|  3478147.3589878757|
|        Finding Dory|   6/16/2016|  3443368.5564439716|
|Indiana Jones and...|   5/24/1989|   3434099.967767929|
|          Home Alone|   11/9/1990|  3428136.5844544093|
|Ice Age: Continen...|   6/26/2012|  3414365.4497520775|
|          Love Story|  12/16/1970|   3371859.296482412|
|  Back to the Future|    7/3/1985|  3359088.7012987016|
|The Hobbit: An Un...|  11/26/2012|   3358450.390024434|
|             Aladdin|  11/25/1992|   3354828.886539817|
|The Secret Life o...|   6/18/2016|  3326536.9657728947|
|     The Jungle Book|    4/7/2016|   3308314.351273296|
|           The Sting|  12/25/1973|  3307217.3175965664|
|Harry Potter and ...|  10/17/2010|   3218904.073527328|
|            Rain Man|  12/11/1988|   3218257.261410788|
| The Matrix Reloaded|   5/15/2003|  3207627.7983651226|
|Transformers: Rev...|   6/19/2009|  3186877.3676463077|
|Harry Potter and ...|    7/7/2009|   3176020.529275462|
|Pirates of the Ca...|   5/19/2007|   3172515.742589464|
|      Doctor Zhivago|  12/22/1965|   3171646.635220126|
|   The Da Vinci Code|   5/17/2006|  3168163.9181862986|
|           Peter Pan|    2/5/1953|   3147345.320754717|
|             Top Gun|   5/16/1986|  3121740.6484018266|
|        Men in Black|    7/2/1997|  3111467.5327102803|
|The Passion of th...|   2/25/2004|   3105119.637139808|
|The Twilight Saga...|   3/15/2009|  3102019.4820153355|
|        Mary Poppins|   8/27/1964|  3095586.0771704176|
|   American Graffiti|    8/1/1973|  3086984.4789356985|
|Terminator 2: Jud...|    7/1/1991|  3083700.4405286345|
|        Spider-Man 2|   6/25/2004|   3082187.650475185|
|The Twilight Saga...|  11/13/2012|  3079649.5541240806|
|The Hunger Games:...|  11/15/2013|  3078159.0516113257|
|     Shrek the Third|   5/17/2007|   3066724.413492551|
| You Only Live Twice|   6/12/1967|  3065609.2192192194|
|            Deadpool|    2/9/2016|   3058116.152350587|
|           Inception|   7/14/2010|   3052748.549385123|
|        Spider-Man 3|    5/1/2007|   3043398.265920971|
|The Hobbit: The D...|  12/11/2013|  3039704.0965633835|
|              Batman|   6/23/1989|   3025312.893890675|
|The Hobbit: The B...|  12/10/2014|   3006744.919339727|
|  Dances with Wolves|   11/9/1990|   3006045.201793722|
|        The Graduate|  12/21/1967|  2989598.3870967743|
|Pirates of the Ca...|   5/14/2011|  2946105.5831902428|
|Star Wars: Episod...|   5/15/2002|  2944373.3481646273|
|Indiana Jones and...|   5/23/1984|   2941176.470588235|
|    Crocodile Dundee|   9/26/1986|   2930222.175883953|
|The Twilight Saga...|   6/23/2010|   2892016.214778153|
|Ice Age: The Melt...|   3/23/2006|   2883080.794044665|
|   Beverly Hills Cop|  11/29/1984|  2861922.8679962014|
|          Inside Out|    6/9/2015|   2860446.257511377|
|      Mrs. Doubtfire|  11/24/1993|  2855186.5226337444|
|     The Incredibles|   11/5/2004|  2824304.1465968587|
|The Spy Who Loved Me|    7/7/1977|   2810470.049180328|
|Pirates of the Ca...|    7/9/2003|   2800496.052202284|
|Indiana Jones and...|   5/21/2008|   2749519.150880881|
|        Wonder Woman|   5/30/2017|   2741648.249678512|
|       The Bodyguard|  11/25/1992|   2720273.009161381|
|Guardians of the ...|   4/19/2017|  2710775.1753952266|
|    Fast & Furious 6|    5/6/2013|  2698833.8448990104|
| Shrek Forever After|   5/16/2010|   2695849.640997408|
|The Twilight Saga...|   3/15/2011|   2694679.106982239|
|        Transformers|   6/27/2007|  2687049.7698020632|
|    The Hunger Games|   3/12/2012|   2686278.039338774|
|             Spectre|  10/26/2015|   2678374.157312839|
|              Grease|    7/7/1978|  2676008.6757990867|
|            Rocky II|   6/15/1979|   2671952.420470263|
|The Hunger Games:...|  11/18/2014|   2670648.131270974|
|    Fatal Attraction|   9/11/1987|   2662136.460869565|
|      A Star Is Born|  12/16/1976|  2649572.6495726495|
|Diamonds Are Forever|  12/13/1971|  2647677.5425790753|
|                2012|  10/10/2009|   2635125.822821114|
|Madagascar 3: Eur...|    6/6/2012|    2623002.09170378|
|                  Up|   5/13/2009|  2619047.7798144547|
|             Gravity|   9/27/2013|   2617868.449898521|
|           Rocky III|   5/28/1982|  2608247.4226804124|
|Fantastic Beasts ...|  11/16/2016|   2606706.368666954|
|Batman v Superman...|   3/23/2016|  2604938.5148436227|
|Butch Cassidy and...|   9/23/1969|  2582007.7479892764|
|             Twister|   5/10/1996|   2570060.817369093|
|        Ghostbusters|    6/7/1984|   2557497.270973963|
|Beauty and the Beast|  11/13/1991|   2556970.631349782|
|              Jaws 2|   6/16/1978|   2555312.130898021|
|Guardians of the ...|   7/30/2014|  2536571.6033499823|
|          Mamma Mia!|    7/3/2008|  2536058.7959847976|
|          Armageddon|    7/1/1998|  2535536.5563725494|
| Saving Private Ryan|   7/24/1998|   2520446.199510404|
|Robin Hood: Princ...|   6/14/1991|  2518337.5588235296|
|From Russia with ...|  10/11/1963|   2496713.149350649|
|     Blazing Saddles|    2/7/1974|   2476694.915254237|
|Beverly Hills Cop II|   5/18/1987|   2466652.299559471|
|            Rocky IV|  11/21/1985|   2465450.283623056|
|Mission: Impossib...|   5/24/2000|   2444246.548723898|
|Mission: Impossib...|   12/7/2011|  2435895.3702718993|
|          Maleficent|   5/28/2014|   2427341.205741306|
|         Toy Story 2|  10/30/1999|   2420480.505050505|
|           Moonraker|   6/26/1979|  2411875.4993160055|
| Mission: Impossible|   5/22/1996|  2410314.9904275686|
|          The Matrix|   3/30/1999|   2409851.883273165|
|Home Alone 2: Los...|  11/19/1992|  2403042.1494009867|
|               Shrek|   5/16/2001|   2384321.449438202|
|Rambo: First Bloo...|   5/21/1985|  2382903.6431226768|
|       Suicide Squad|    8/2/2016|  2369119.4648929415|
|             Airport|    3/5/1970|   2368825.942408377|
|          Madagascar|   5/25/2005|  2353113.9897172237|
|   War of the Worlds|   6/28/2005|  2352811.5609007166|
|The Amazing Spide...|   6/27/2012|  2344855.8602206856|
| Monsters University|   6/20/2013|  2326921.7238308876|
|Back to the Futur...|  11/20/1989|  2315622.5218080888|
|                Sing|  11/23/2016|  2308905.6918718317|
| Night at the Museum|  10/20/2006|   2305115.836228288|
|Pirates of the Ca...|   5/23/2017|   2303247.486272989|
|Captain America: ...|   3/20/2014|   2297895.036107174|
|  Look Who's Talking|  10/12/1989|   2296974.522292994|
|       Kung Fu Panda|    6/4/2008|  2293008.0661746226|
|    Meet the Fockers|  12/22/2004|   2289685.049816466|
|     Kung Fu Panda 2|   5/25/2011|   2284634.554894959|
|         Ratatouille|   6/22/2007|   2274244.321864243|
|Dawn of the Plane...|   6/26/2014|  2269232.1762854145|
|Fifty Shades of Grey|   2/11/2015|  2262276.7699661725|
|    The Wizard of Oz|   8/15/1939|   2244780.217391304|
|        The Fugitive|    8/6/1993|   2243617.127071823|
|           Toy Story|  10/30/1995|    2236679.90234375|
|Mission: Impossib...|   7/23/2015|  2233715.4828043436|
|       Casino Royale|  11/14/2006|   2228515.930521092|
|           Fast Five|   4/20/2011|   2217776.614859004|
|The Day After Tom...|   5/26/2004|  2210186.6209804956|
|            The Mask|   7/29/1994|   2205257.765100671|
|      Bruce Almighty|   5/23/2003|   2202356.205770278|
|         The Martian|   9/30/2015|   2195451.904237338|
+--------------------+------------+--------------------+
only showing top 200 rows

In [193]:
metadata_df_7 = sqlc.sql("""
SELECT Title, Release_Date, Profit FROM
metadata_df_5
ORDER BY Profit DESC
""")
metadata_df_7.show(200)

+--------------------+------------+----------+
|               Title|Release_Date|    Profit|
+--------------------+------------+----------+
|Star Wars: The Fo...|  12/15/2015|1823223624|
|             Titanic|  11/18/1997|1645034188|
|      Jurassic World|    6/9/2015|1363528810|
|           Furious 7|    4/1/2015|1316249360|
|        The Avengers|   4/25/2012|1299557910|
|Harry Potter and ...|    7/7/2011|1217000000|
|Avengers: Age of ...|   4/22/2015|1125403694|
|              Frozen|  11/27/2013|1124219009|
|Beauty and the Beast|   3/16/2017|1102886337|
|             Minions|   6/17/2015|1082730962|
|The Lord of the R...|   12/1/2003|1024888979|
|          Iron Man 3|   4/18/2013|1015439994|
|The Fate of the F...|   4/12/2017| 988764765|
|     Despicable Me 3|   6/15/2017| 940063384|
|Transformers: Dar...|   6/28/2011| 928746996|
|             Skyfall|  10/25/2012| 908561013|
|Captain America: ...|   4/27/2016| 903304495|
|     Despicable Me 2|   6/25/2013| 894761885|
|Transformers: Age...|   6/25/2014| 881405097|
|            Zootopia|   2/11/2016| 873784195|
|         Toy Story 3|   6/16/2010| 866969703|
|Pirates of the Ca...|   6/20/2006| 865659812|
|       Jurassic Park|   6/11/1993| 857100000|
|Rogue One: A Star...|  12/14/2016| 856057273|
|Harry Potter and ...|  11/16/2001| 851475550|
|The Lord of the R...|  12/18/2002| 847287400|
|        Finding Nemo|   5/30/2003| 846335536|
|The Dark Knight R...|   7/16/2012| 834939099|
|        Finding Dory|   6/16/2016| 828570889|
| Alice in Wonderland|    3/3/2010| 825491110|
|     The Dark Knight|   7/16/2008| 819558444|
|Star Wars: Episod...|   5/19/1999| 809317558|
|The Secret Life o...|   6/18/2016| 800457937|
|Ice Age: Dawn of ...|   6/29/2009| 796686817|
|     The Jungle Book|    4/7/2016| 791550600|
|Harry Potter and ...|   6/28/2007| 788212738|
|E.T. the Extra-Te...|    4/3/1982| 782465326|
|Ice Age: Continen...|   6/26/2012| 782244782|
|The Lord of the R...|  12/18/2001| 778368364|
|Harry Potter and ...|  11/13/2002| 776688482|
|The Hobbit: An Un...|  11/26/2012| 771103568|
|             Shrek 2|   5/19/2004| 769838758|
|           Star Wars|   5/25/1977| 764398007|
|Harry Potter and ...|   11/5/2005| 745921036|
|       The Lion King|   6/23/1994| 743241776|
|    Independence Day|   6/25/1996| 741969268|
|Star Wars: Episod...|   5/17/2005| 737000000|
|            Deadpool|    2/9/2016| 725112979|
|The Hunger Games:...|  11/15/2013| 717423452|
|The Twilight Saga...|  11/13/2012| 709000000|
|The Hobbit: The D...|  12/11/2013| 708400000|
|The Hobbit: The B...|  12/10/2014| 706019788|
|Harry Potter and ...|  10/17/2010| 704305868|
|Transformers: Rev...|   6/19/2009| 686297228|
|Harry Potter and ...|    7/7/2009| 683959197|
|          Spider-Man|    5/1/2002| 682708551|
|          Inside Out|    6/9/2015| 682611174|
|        Wonder Woman|   5/30/2017| 671580447|
|Pirates of the Ca...|   5/14/2011| 665713802|
|           Inception|   7/14/2010| 665532764|
|Guardians of the ...|   4/19/2017| 663416141|
|Pirates of the Ca...|   5/19/2007| 661000000|
|The Twilight Saga...|   3/15/2009| 659827462|
|Harry Potter and ...|   5/31/2004| 659804554|
|   The Da Vinci Code|   5/17/2006| 642820459|
|     Shrek the Third|   5/17/2007| 638958165|
|             Spectre|  10/26/2015| 635674609|
|        Spider-Man 3|    5/1/2007| 632871626|
|     The Sixth Sense|    8/6/1999| 632806292|
|The Twilight Saga...|   6/23/2010| 630491347|
|Fantastic Beasts ...|  11/16/2016| 629342332|
|    Fast & Furious 6|    5/6/2013| 628679850|
|The Hunger Games:...|  11/18/2014| 627100229|
|Batman v Superman...|   3/23/2016| 623260194|
|        Forrest Gump|    7/6/1994| 622945399|
|    The Hunger Games|   3/12/2012| 616210692|
|             Gravity|   9/27/2013| 611392705|
|Guardians of the ...|   7/30/2014| 603328629|
|The Twilight Saga...|   3/15/2011| 602171856|
|Madagascar 3: Eur...|    6/6/2012| 601921274|
|Indiana Jones and...|   5/21/2008| 601636033|
| The Matrix Reloaded|   5/15/2003| 588599701|
| Shrek Forever After|   5/16/2010| 587600867|
|        Spider-Man 2|   6/25/2004| 583766341|
|The Passion of th...|   2/25/2004| 581899420|
|Ice Age: The Melt...|   3/23/2006| 580940780|
|          Maleficent|   5/28/2014| 578539785|
|       Suicide Squad|    8/2/2016| 570600054|
|                2012|  10/10/2009| 569653595|
| Alice in Wonderland|    7/3/1951| 569000000|
|Pirates of the Ca...|   5/23/2017| 564191988|
|                  Up|   5/13/2009| 560099082|
|        Transformers|   6/27/2007| 559709780|
|          Mamma Mia!|    7/3/2008| 557841637|
|                Sing|  11/23/2016| 557443719|
|Mission: Impossib...|   12/7/2011| 549713380|
|Captain America: ...|   3/20/2014| 544766572|
| Monsters University|   6/20/2013| 543559607|
|Dawn of the Plane...|   6/26/2014| 540644566|
|  Return of the Jedi|   5/23/1983| 540350000|
|     The Incredibles|   11/5/2004| 539442092|
|The Amazing Spide...|   6/27/2012| 537215857|
|Mission: Impossib...|   7/23/2015| 532330139|
|Fifty Shades of Grey|   2/11/2015| 531006128|
|Star Wars: Episod...|   5/15/2002| 529398328|
|         The Martian|   9/30/2015| 522161890|
|The Empire Strike...|   5/17/1980| 520400000|
|               Logan|   2/28/2017| 519801808|
|     Kung Fu Panda 2|   5/25/2011| 515692281|
|Pirates of the Ca...|    7/9/2003| 515011224|
|      Doctor Strange|  10/25/2016| 512718395|
|        Interstellar|   11/5/2014| 510120017|
|The Amazing Spide...|   4/16/2014| 505717432|
|       Kung Fu Panda|    6/4/2008| 501744560|
|           Fast Five|   4/20/2011| 501137675|
|        Men in Black|    7/2/1997| 499390539|
|                 Ted|   6/29/2012| 499368315|
|X-Men: Days of Fu...|   5/15/2014| 497862775|
|The Hunger Games:...|  11/18/2015| 493428261|
|               Moana|  11/23/2016| 493034466|
|          Life of Pi|  11/20/2012| 489016565|
|          Big Hero 6|  10/24/2014| 487105443|
|     American Sniper|  12/11/2014| 483507423|
|               Ghost|   7/12/1990| 483000000|
|             Aladdin|  11/25/1992| 476050219|
|Thor: The Dark World|  10/29/2013| 474571402|
|       Despicable Me|    7/8/2010| 474513985|
|             Hancock|    7/1/2008| 474029371|
|         Ratatouille|   6/22/2007| 473722818|
| Night at the Museum|  10/20/2006| 464480841|
|How to Train Your...|   6/12/2014| 464123048|
|                Jaws|   6/18/1975| 463654000|
|   War of the Worlds|   6/28/2005| 459739379|
|          Home Alone|   11/9/1990| 458684675|
|          Madagascar|   5/25/2005| 457680671|
|Madagascar: Escap...|  10/30/2008| 453900354|
|          The Smurfs|   7/29/2011| 453749323|
|  The Simpsons Movie|   7/25/2007| 452068851|
|          The Croods|   3/20/2013| 450178928|
|       Casino Royale|  11/14/2006| 449045960|
|        Pretty Woman|   3/23/1990| 449000000|
|          Cinderella|   3/12/2015| 448514353|
|            Iron Man|   4/30/2008| 445174222|
|        Man of Steel|   6/12/2013| 437845518|
|    Meet the Fockers|  12/22/2004| 436642939|
|         I Am Legend|  12/14/2007| 435349010|
|     Sherlock Holmes|  12/23/2009| 434028679|
|        The Exorcist|  12/26/1973| 433306145|
|Indiana Jones and...|   5/24/1989| 426171806|
|               Shrek|   5/16/2001| 424409218|
|        The Hangover|    6/5/2009| 424270619|
|          Iron Man 2|   4/28/2010| 423933331|
|Mission: Impossib...|   5/24/2000| 421388105|
|Terminator 2: Jud...|    7/1/1991| 420000000|
|             Dunkirk|   7/19/2017| 419876949|
|The Day After Tom...|   5/26/2004| 419272402|
|      Mrs. Doubtfire|  11/24/1993| 416286195|
|          La La Land|  11/29/2016| 415435700|
|          Armageddon|    7/1/1998| 413799566|
|        Intouchables|   11/2/2011| 413480871|
| Saving Private Ryan|   7/24/1998| 411840909|
|      The Lego Movie|    2/6/2014| 409160692|
|         Toy Story 2|  10/30/1999| 407366869|
|      Bruce Almighty|   5/23/2003| 404572835|
|             Twister|   5/10/1996| 402471524|
|  Dances with Wolves|   11/9/1990| 402208848|
|          The Matrix|   3/30/1999| 400517383|
|   The King's Speech|    9/6/2010| 399211549|
|      Men in Black 3|   5/23/2012| 399026776|
|        The Revenant|  12/25/2015| 397950503|
|               Rio 2|   3/19/2014| 397188435|
|  Gone with the Wind|  12/15/1939| 396176459|
|                 Rio|    4/3/2011| 394635760|
|Hotel Transylvania 2|   9/21/2015| 393226958|
|Rise of the Plane...|    8/3/2011| 389860185|
|             Ant-Man|   7/14/2015| 389311965|
|            Rain Man|  12/11/1988| 387800000|
|   Quantum of Solace|  10/30/2008| 386090727|
|       The Bodyguard|  11/25/1992| 386006740|
|  Kong: Skull Island|    3/8/2017| 381652812|
|      Les Misérables|  12/18/2012| 380809770|
| Mission: Impossible|   5/22/1996| 377696359|
|              Batman|   6/23/1989| 376348924|
|     Kung Fu Panda 3|   1/23/2016| 376170825|
|       The Boss Baby|   3/23/2017| 373814908|
|The Bourne Ultimatum|    8/3/2007| 372824138|
|Raiders of the Lo...|   6/12/1981| 371925971|
|            Godzilla|   5/14/2014| 369076069|
|    Mr. & Mrs. Smith|    6/7/2005| 368207520|
|Alvin and the Chi...|  12/21/2009| 368140005|
|   X-Men: Apocalypse|   5/18/2016| 365934787|
|      Ocean's Eleven|   12/7/2001| 365717150|
|My Big Fat Greek ...|   2/22/2002| 363744044|
| Slumdog Millionaire|   5/12/2008| 362910544|
|  Back to the Future|    7/3/1985| 362109762|
|         San Andreas|   5/27/2015| 360490832|
|              Cars 2|   6/11/2011| 359852396|
|                 300|   12/9/2006| 357610419|
|            Twilight|  11/20/2008| 355616625|
|           Gladiator|    5/1/2000| 354640427|
+--------------------+------------+----------+
only showing top 200 rows

In [194]:
metadata_df_8 = sqlc.sql("""
SELECT Title, Release_Date, Profit FROM
metadata_df_5
ORDER BY Profit ASC
""")
metadata_df_8.show(200)

+--------------------+------------+----------+
|               Title|Release_Date|    Profit|
+--------------------+------------+----------+
|              Avatar|  12/10/2009|      null|
|     The Lone Ranger|    7/3/2013|-165710090|
|         The Wolfman|   2/11/2010|-150000000|
|    Band of Brothers|    9/9/2001|-125000000|
|         The Pacific|   3/15/2010|-120000000|
|           The Alamo|    4/7/2004|-119180039|
|     Mars Needs Moms|    3/9/2011|-111007242|
|Valerian and the ...|   7/20/2017|-107447384|
|      Double Wedding|   7/20/2010|-104002432|
|         Война и мир|   3/14/1966|-100000000|
|        Brother Bear|  10/23/2003|-100000000|
|Dragonball Evolution|    4/1/2009|-100000000|
|    The 13th Warrior|   8/27/1999| -98301101|
|The Adventures of...|   8/15/2002| -92896027|
|          Metropolis|   1/10/1927| -91969578|
|             Volcano|   4/25/1997| -90000000|
|    Mighty Joe Young|  12/25/1998| -90000000|
|Payback: Straight Up|  10/21/2006| -90000000|
|    Cutthroat Island|  12/22/1995| -87982678|
|Arthur et la veng...|  11/26/2009| -87000000|
|       Live by Night|  12/25/2016| -85321445|
|        Little Nicky|  11/10/2000| -85000000|
|        Fathers' Day|    5/9/1997| -85000000|
|        Flushed Away|  10/22/2006| -84540684|
|     Son of the Mask|   2/18/2005| -84000000|
|               RED 2|   7/18/2013| -84000000|
|                Pawn|   4/23/2013| -83000000|
|    西遊記之大鬧天宮|    1/9/2014| -82000000|
|           Australia|  11/18/2008| -80445998|
|            Instinct|    6/4/1999| -80000000|
|                Edtv|   3/26/1999| -80000000|
| L'ennemi public n°1|  11/19/2008| -80000000|
|      Town & Country|   4/27/2001| -79627709|
|           Supernova|   1/14/2000| -75171919|
|                Pink|   9/16/2016| -75000000|
|   Anna and the King|  12/16/1999| -75000000|
|    Inspector Gadget|   7/23/1999| -75000000|
|  A Sound of Thunder|   5/15/2005| -74010360|
|The Nutcracker: T...|  11/24/2010| -73821041|
|               Awake|  11/28/2007| -71626175|
|     How Do You Know|  12/17/2010| -71331093|
|Arthur 3: la guer...|   8/22/2010| -70200000|
|Maria Larssons ev...|   9/24/2008| -70000000|
|     Dudley Do-Right|   8/27/1999| -70000000|
|      The Great Raid|   8/12/2005| -69833498|
|          Monkeybone|   2/23/2001| -69590483|
|            R.I.P.D.|   7/18/2013| -68351500|
|1½ Ritter - Auf d...|  12/17/2008| -67000000|
|  Autumn in New York|   8/11/2000| -65000000|
|     Mona Lisa Smile|  12/19/2003| -65000000|
|      Primary Colors|   3/20/1998| -65000000|
|       Proof of Life|   12/8/2000| -65000000|
|       Lucky Numbers|  10/27/2000| -65000000|
|        The Invasion|   8/17/2007| -64928486|
|          Foodfight!|   6/15/2012| -64926294|
|K-19: The Widowmaker|   7/19/2002| -64831034|
|         The Postman|  12/25/1997| -62373766|
|              Sphere|   2/13/1998| -61900000|
|       Osmosis Jones|    8/7/2001| -61403089|
|Astérix & Obélix ...|  10/17/2012| -61000000|
|               Virus|   1/14/1999| -60989310|
|              Lolita|   9/27/1997| -60939944|
|      Monster Trucks|  12/21/2016| -60506085|
|             Soldier|  10/23/1998| -60432117|
|Michael Jackson's...|  10/28/2009| -60000000|
|         War Machine|   5/26/2017| -60000000|
|      The Family Man|  12/12/2000| -60000000|
|    The Ridiculous 6|  12/11/2015| -60000000|
|         The Missing|  11/26/2003| -60000000|
|         Love Affair|  10/21/1994| -60000000|
|      Mercury Rising|    4/3/1998| -60000000|
|What Planet Are Y...|    3/3/2000| -60000000|
|Christmas with th...|  11/24/2004| -60000000|
|In the Name of th...|  11/29/2007| -60000000|
| Up Close & Personal|    3/1/1996| -60000000|
|     Shrek the Halls|  11/28/2007| -60000000|
|            Holy Man|   10/8/1998| -60000000|
|   Angels in America|   12/7/2003| -60000000|
|        Chill Factor|    9/1/1999| -58736034|
|             Stealth|   7/28/2005| -58067057|
|             Sabrina|  12/15/1995| -58000000|
|All the Pretty Ho...|  12/11/2000| -57000000|
|The Astronaut's Wife|   8/26/1999| -55401412|
|George of the Jungle|   7/15/1997| -55000000|
|        Imagine That|   6/19/2009| -55000000|
|    Death to Smoochy|   3/28/2002| -55000000|
|           Bowfinger|   8/12/1999| -55000000|
|        Solar Crisis|   7/14/1990| -55000000|
|Утомленные солнце...|   4/22/2010| -55000000|
|       The Happy Elf|   12/2/2005| -53000000|
|     Blades of Glory|   3/30/2007| -53000000|
|           Blueberry|    2/9/2004| -53000000|
|        Gone Fishin'|   5/30/1997| -53000000|
|            Blackhat|   1/13/2015| -52247060|
|    Bulletproof Monk|   3/28/2003| -52000000|
|         Upside Down|   9/27/2012| -51893525|
|Final Fantasy: Th...|    7/2/2001| -51868170|
|Legends of Oz: Do...|   6/13/2013| -51337973|
|            Rock Dog|    7/8/2016| -50579454|
|           Hard Rain|   1/16/1998| -50129433|
|Ballistic: Ecks v...|   9/20/2002| -50075967|
|For Love of the Game|   9/17/1999| -50000000|
|          Libertador|    9/9/2013| -50000000|
|  Desperate Measures|   1/30/1998| -50000000|
|                Okja|   5/19/2017| -50000000|
|      The Peacemaker|   9/26/1997| -50000000|
|            Shanghai|   6/10/2010| -50000000|
|               D-Tox|    1/4/2002| -48583698|
|      Billy Bathgate|   11/1/1991| -48000000|
|      Chinese Zodiac|  12/20/2012| -48000000|
|         Tinker Bell|  10/27/2008| -48000000|
|          Red Corner|  10/30/1997| -48000000|
|         Hudson Hawk|   5/23/1991| -47781920|
|Un long dimanche ...|  10/26/2004| -47000000|
|      The Iron Giant|    8/6/1999| -46840695|
|               Gigli|    8/1/2003| -46733791|
|            Child 44|   3/15/2015| -46675670|
|               Alfie|  10/22/2004| -46604061|
|          Red Planet|  11/10/2000| -46536031|
|  The Out-of-Towners|    4/2/1999| -46000000|
|  All the King's Men|   9/10/2006| -45549103|
|  Bullet to the Head|   1/31/2013| -45510171|
|       Thirteen Days|  12/24/2000| -45433254|
|      All Eyez on Me|   6/12/2017| -45000000|
|           Drop Zone|   12/8/1994| -45000000|
|What's the Worst ...|   5/31/2001| -45000000|
|      The River Wild|   9/30/1994| -45000000|
|        Multiplicity|   7/19/1996| -45000000|
|The Indian in the...|   7/14/1995| -45000000|
|     The Glimmer Man|   10/4/1996| -45000000|
|     The Last Castle|  10/19/2001| -44357293|
|          Get Carter|   10/6/2000| -44187007|
|     Fire Down Below|    9/5/1997| -44000000|
|           The Juror|    2/2/1996| -44000000|
|          Turbulence|    1/9/1997| -43533912|
|          Mr. Nobody|   9/11/2009| -43452791|
|3000 Miles to Gra...|   2/23/2001| -43279825|
|      The Big Bounce|   1/30/2004| -43191450|
|   Gods and Generals|   2/21/2003| -43076064|
|             28 Days|    4/6/2000| -43000000|
|           Outlander|   4/24/2008| -42966317|
|   Shadow Conspiracy|   1/31/1997| -42845460|
|            The Wild|    3/6/2006| -42615954|
|             Flyboys|   9/22/2006| -42200000|
|The Mirror Has Tw...|  11/15/1996| -42000000|
|                Hero|   10/2/1992| -42000000|
|               Brüno|    7/8/2009| -42000000|
|     The Last Legion|   4/19/2007| -41696962|
|                Stay|   9/24/2005| -41657868|
| Conan the Barbarian|   8/17/2011| -41204979|
|       The Medallion|   8/15/2003| -41000000|
|The Adventures of...|   6/30/2000| -40865180|
|              Ishtar|   5/15/1987| -40624819|
|       Goya's Ghosts|   11/8/2006| -40551918|
|The Legend of Bag...|   11/2/2000| -40540573|
|       Heaven's Gate|  11/19/1980| -40515669|
|Love in the Time ...|   10/4/2007| -40392392|
|                Jade|  10/13/1995| -40148390|
|           Rock Star|    9/4/2001| -40008098|
|Dragon Nest: Warr...|   5/20/2014| -40000000|
|            太平�?�?|   12/2/2014| -40000000|
|           The House|   6/29/2017| -40000000|
|True Memoirs of a...|  11/11/2016| -40000000|
|               Delgo|  12/12/2008| -40000000|
|            Impostor|   12/3/2001| -40000000|
|               North|   7/22/1994| -40000000|
|        Medicine Man|    2/7/1992| -40000000|
|The Swan Princess...|   11/5/2012| -40000000|
|    Man of the House|   2/25/2005| -40000000|
|         Ri¢hie Ri¢h|  12/19/1994| -40000000|
|        Tai Chi Hero|  10/25/2012| -40000000|
|         Being Human|    5/6/1994| -40000000|
|                Envy|   4/30/2004| -40000000|
|       Kiss of Death|   4/21/1995| -40000000|
|       Che: Part Two|   1/24/2009| -40000000|
|    I'll Do Anything|    2/4/1994| -40000000|
|     Bless the Child|   8/11/2000| -40000000|
|     Drillbit Taylor|   3/20/2008| -40000000|
|              投名狀|  12/12/2007| -40000000|
|USS Indianapolis:...|   9/22/2016| -40000000|
|1492: Conquest of...|   10/9/1992| -39808601|
|The Ottoman Lieut...|   3/10/2017| -39759022|
|  The Scarlet Letter|  10/13/1995| -39617593|
|            Mad City|   11/7/1997| -39458477|
|              Driven|   4/27/2001| -39255262|
|The Adventures of...|   12/7/1988| -38546877|
|           Fair Game|   11/3/1995| -38465523|
|             Pirates|    5/8/1986| -38358175|
|          Titan A.E.|   6/16/2000| -38245366|
|         Mystery Men|    8/6/1999| -38237989|
|        Joe Somebody|  12/21/2001| -38000000|
|            封神传奇|   7/28/2016| -38000000|
|          Wyatt Earp|   6/24/1994| -37948000|
|Around the World ...|   6/16/2004| -37821105|
|          Hart's War|   2/15/2002| -37712956|
|         Windtalkers|   6/14/2002| -37371735|
| Ride with the Devil|  11/24/1999| -37364904|
|Street Fighter: T...|   2/27/2009| -37235799|
|        Solomon Kane|   9/16/2009| -37190000|
|       City of Ember|   10/7/2008| -37130952|
+--------------------+------------+----------+
only showing top 200 rows

In [4]:
input_file = sc.textFile("movies_metadata_2.csv")
input_file = input_file.flatMap(lambda line: [line.split(",")[:8]])
input_file = input_file.filter(lambda line: line[0].isnumeric() and int(line[0])!=0 and line[3].isnumeric() and int(line[3])!=0 and line[4].isnumeric() and line[5].isnumeric() and line[6].isnumeric() and line[7].isnumeric())
metadata_df = input_file.toDF()
metadata_df.registerTempTable("metadata_df")
metadata_df.show(20)
metadata_df.count()

/sw/pkgs/arc/spark/spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

+--------+--------------------+----------+---------+---+---+---+----+
|      _1|                  _2|        _3|       _4| _5| _6| _7|  _8|
+--------+--------------------+----------+---------+---+---+---+----+
|30000000|           Toy Story|10/30/1995|373554033| 81| 10| 30|1995|
|65000000|             Jumanji|12/15/1995|262797249|104| 12| 15|1995|
|16000000|   Waiting to Exhale|12/22/1995| 81452156|127| 12| 22|1995|
|60000000|                Heat|12/15/1995|187436818|170| 12| 15|1995|
|35000000|        Sudden Death|12/22/1995| 64350171|106| 12| 22|1995|
|58000000|           GoldenEye|11/16/1995|352194034|130| 11| 16|1995|
|62000000|The American Pres...|11/17/1995|107879496|106| 11| 17|1995|
|44000000|               Nixon|12/22/1995| 13681765|192| 12| 22|1995|
|98000000|    Cutthroat Island|12/22/1995| 10017322|119| 12| 22|1995|
|52000000|              Casino|11/22/1995|116112375|178| 11| 22|1995|
|16500000|Sense and Sensibi...|12/13/1995|135000000|136| 12| 13|1995|
| 4000000|          Four Rooms| 12/9/1995|  4300000| 98| 12|  9|1995|
|30000000|Ace Ventura: When...|11/10/1995|212385533| 90| 11| 10|1995|
|60000000|         Money Train|11/21/1995| 35431113|103| 11| 21|1995|
|30250000|          Get Shorty|10/20/1995|115101622|105| 10| 20|1995|
|50000000|           Assassins| 10/6/1995| 30303072|132| 10|  6|1995|
| 3600000|   Leaving Las Vegas|10/27/1995| 49800000|112| 10| 27|1995|
|12000000|        Now and Then|10/20/1995| 27400000|100| 10| 20|1995|
|18000000|La Cité des Enfan...| 5/16/1995|  1738611|108|  5| 16|1995|
|29500000|      Twelve Monkeys|12/29/1995|168840000|129| 12| 29|1995|
+--------+--------------------+----------+---------+---+---+---+----+
only showing top 20 rows

5257

In [20]:
metadata_df_2 = sqlc.sql("""
SELECT Title,Release_Date,Budget,Revenue,Profit,Return_Rate,Run_Time,Adjusted_Month_2 as Month,Adjusted_Year as Year FROM
(SELECT  
metadata_df._2 as Title, 
metadata_df._3 as Release_Date, 
CAST(metadata_df._1 as int) as Budget,
CAST(metadata_df._4 as int) as Revenue,
CAST(metadata_df._4 as int)-CAST(metadata_df._1 as int) as Profit,
CAST(metadata_df._4 as int)/CAST(metadata_df._1 as int) as Return_Rate,
CAST(metadata_df._5 as int) as Run_Time,
CAST(_6 as int) as Month,
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) 
as Adjusted_Month_1,
CAST(metadata_df._7 as int) as Day,
CAST(metadata_df._8 as int) as Year,
(CASE WHEN (CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 
ELSE CAST(metadata_df._6 as int) END) > 12 THEN CAST(metadata_df._8 as int)+1 ELSE CAST(metadata_df._8 as int) END) 
as Adjusted_Year,
(CASE WHEN 
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) 
> 12
THEN 
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END)-12 
ELSE 
(CASE WHEN CAST(metadata_df._7 as int) > 15 THEN CAST(metadata_df._6 as int)+1 ELSE CAST(metadata_df._6 as int) END) 
END) as Adjusted_Month_2
FROM metadata_df)

""")
metadata_df_2.registerTempTable("metadata_df_2")
metadata_df_2.show()

+--------------------+------------+--------+---------+---------+-------------------+--------+-----+----+
|               Title|Release_Date|  Budget|  Revenue|   Profit|        Return_Rate|Run_Time|Month|Year|
+--------------------+------------+--------+---------+---------+-------------------+--------+-----+----+
|           Toy Story|  10/30/1995|30000000|373554033|343554033|         12.4518011|      81|   11|1995|
|             Jumanji|  12/15/1995|65000000|262797249|197797249|          4.0430346|     104|   12|1995|
|   Waiting to Exhale|  12/22/1995|16000000| 81452156| 65452156|         5.09075975|     127|    1|1996|
|                Heat|  12/15/1995|60000000|187436818|127436818|  3.123946966666667|     170|   12|1995|
|        Sudden Death|  12/22/1995|35000000| 64350171| 29350171| 1.8385763142857143|     106|    1|1996|
|           GoldenEye|  11/16/1995|58000000|352194034|294194034|  6.072310931034483|     130|   12|1995|
|The American Pres...|  11/17/1995|62000000|107879496| 45879496|  1.739991870967742|     106|   12|1995|
|               Nixon|  12/22/1995|44000000| 13681765|-30318235|0.31094920454545455|     192|    1|1996|
|    Cutthroat Island|  12/22/1995|98000000| 10017322|-87982678|0.10221757142857144|     119|    1|1996|
|              Casino|  11/22/1995|52000000|116112375| 64112375| 2.2329302884615383|     178|   12|1995|
|Sense and Sensibi...|  12/13/1995|16500000|135000000|118500000|  8.181818181818182|     136|   12|1995|
|          Four Rooms|   12/9/1995| 4000000|  4300000|   300000|              1.075|      98|   12|1995|
|Ace Ventura: When...|  11/10/1995|30000000|212385533|182385533|  7.079517766666667|      90|   11|1995|
|         Money Train|  11/21/1995|60000000| 35431113|-24568887|         0.59051855|     103|   12|1995|
|          Get Shorty|  10/20/1995|30250000|115101622| 84851622|  3.805012297520661|     105|   11|1995|
|           Assassins|   10/6/1995|50000000| 30303072|-19696928|         0.60606144|     132|   10|1995|
|   Leaving Las Vegas|  10/27/1995| 3600000| 49800000| 46200000| 13.833333333333334|     112|   11|1995|
|        Now and Then|  10/20/1995|12000000| 27400000| 15400000|  2.283333333333333|     100|   11|1995|
|La Cité des Enfan...|   5/16/1995|18000000|  1738611|-16261389|          0.0965895|     108|    6|1995|
|      Twelve Monkeys|  12/29/1995|29500000|168840000|139340000| 5.7233898305084745|     129|    1|1996|
+--------------------+------------+--------+---------+---------+-------------------+--------+-----+----+
only showing top 20 rows

In [22]:
metadata_df_4 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit,Return_Rate, Adjusted_Budget, Adjusted_Revenue, Adjusted_Profit FROM
(SELECT A.Title as Title, A.Release_Date as Release_Date, A.Budget as Budget,A.Revenue as Revenue,A.Profit as Profit, A.Return_Rate as Return_Rate,
A.Run_Time as Run_Time,
B.CPI as CPI,
A.Budget/B.CPI as Adjusted_Budget,
A.Revenue/B.CPI as Adjusted_Revenue,
A.Profit/B.CPI as Adjusted_Profit
FROM
metadata_df_2 as A
LEFT JOIN cpi_df_1 as B
ON A.Year = B.Year AND A.Month = B.MONTH)
""")
metadata_df_4.registerTempTable("metadata_df_4")
metadata_df_4.show(20)

+--------------------+------------+---------+---------+---------+--------------------+------------------+------------------+-------------------+
|               Title|Release_Date|   Budget|  Revenue|   Profit|         Return_Rate|   Adjusted_Budget|  Adjusted_Revenue|    Adjusted_Profit|
+--------------------+------------+---------+---------+---------+--------------------+------------------+------------------+-------------------+
| Across to Singapore|    4/7/1928|   290000|   596000|   306000|  2.0551724137931036| 16959.06432748538| 34853.80116959064| 17894.736842105263|
|Captain America: ...|   3/20/2014|170000000|714766572|544766572|   4.204509247058824| 717081.7304447594|3014976.7665519337|  2297895.036107174|
|                Noah|   3/20/2014|125000000|362637473|237637473|         2.901099784| 527265.9782682054|1529651.2156644394| 1002385.2373962341|
| Muppets Most Wanted|   3/20/2014| 50000000| 80383290| 30383290|           1.6076658|210906.39130728217|339066.99230613484| 128160.60099885266|
|           Bad Words|    9/6/2013|  9500000|  7800000| -1700000|  0.8210526315789474|40572.456000239166| 33312.12176861742| -7260.334231621745|
|キャプテンハーロック|    9/7/2013| 30000000| 17137302|-12862698|           0.5712434|128123.54526391315| 73189.72961661164|-54933.815647301504|
|          Blood Ties|   8/22/2013| 25500000|  2415472|-23084528| 0.09472439215686275|108905.01347432617|10315.961204190495| -98589.05227013568|
|             13 Sins|   4/18/2014|  5000000|    13809| -4986191|           0.0027618| 21017.23413198823| 58.04539722572509|-20959.188734762505|
|The Legend of Her...|   1/10/2014| 70000000| 61279452| -8720548|  0.8754207428571429|299252.72319978115|261972.04124557532|-37280.681954205786|
|300: Rise of an E...|    3/5/2014|110000000|337580051|227580051|  3.0689095545454546| 465523.7353624525|1428650.2393215203|  963126.5039590677|
|      Under the Skin|   3/14/2014| 13300000|  5380251| -7919749| 0.40453015037593987|56286.051639278354|22769.404933705187| -33516.64670557316|
|      Need for Speed|   3/13/2014| 66000000|203277636|137277636|  3.0799641818181818|279314.24121747154| 860277.8584215359|  580963.6172040644|
|       Veronica Mars|   3/13/2014|  6000000|  3485127| -2514873|           0.5808545|25392.203747042866| 14749.17581138671|-10643.027935656155|
|          Son of God|   2/28/2014| 22000000| 67800064| 45800064|   3.081821090909091| 93104.74707249051| 286932.1731917577| 193827.42611926718|
| That Awkward Moment|   1/29/2014|  8000000| 26049082| 18049082|          3.25613525|34074.307546181335|110950.55392046204|  76876.24637428072|
|      3 Days to Kill|   2/14/2014| 28000000| 52597999| 24597999|  1.8784999642857143|119260.07641163467| 224030.0492799673| 104769.97286833261|
|            Non-Stop|   1/26/2014| 50000000|222809600|172809600|            4.456192|212964.42216363334| 949010.3543302056|  736045.9321665722|
|Mr. Peabody & She...|    2/7/2014|145000000|272912430|127912430|  1.8821546896551724| 617596.8242745367|1162412.7591244606|   544815.934849924|
|            Barefoot|    2/2/2014|  6000000|    15071| -5984929|0.002511833333333...|   25555.730659636| 64.19173612856235| -25491.53892350744|
|       Best Man Down|  10/20/2012|  1500000|     1938| -1498062|            0.001292| 6515.478605340086| 8.417998358099391| -6507.060606981987|
+--------------------+------------+---------+---------+---------+--------------------+------------------+------------------+-------------------+
only showing top 20 rows

In [24]:
metadata_df_13 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Return_Rate FROM
metadata_df_4
ORDER BY Return_Rate DESC
""")
metadata_df_13.show(100)
metadata_df_13.coalesce(1).write.csv("removal Return_Rate DESC.csv")
metadata_df_13

+---------------------+------------+--------+---------+---------+------------------+
|                Title|Release_Date|  Budget|  Revenue|   Profit|       Return_Rate|
+---------------------+------------+--------+---------+---------+------------------+
|       Less Than Zero|   11/6/1987|       1| 12396383| 12396382|       1.2396383E7|
|         Modern Times|    2/5/1936|       1|  8500000|  8499999|         8500000.0|
|       Aquí Entre Nos|   3/30/2012|       1|  2755584|  2755583|         2755584.0|
|            Nurse 3-D|   9/28/2013|      10| 10000000|  9999990|         1000000.0|
|   From Prada to Nada|   1/28/2011|      93|  2500000|  2499907|26881.720430107525|
|  Paranormal Activity|   9/14/2007|   15000|193355800|193340800|12890.386666666667|
|            Tarnation|  10/19/2003|     218|  1162014|  1161796| 5330.339449541284|
| The Blair Witch P...|   7/14/1999|   60000|248000000|247940000| 4133.333333333333|
|"대�?""While the K...|  12/16/2015|    5000| 11083449| 11078449|         2216.6898|
|           Eraserhead|   3/19/1977|   10000|  7000000|  6990000|             700.0|
|             猛龍過江|    6/1/1972|  130000| 85000000| 84870000| 653.8461538461538|
|       Pink Flamingos|   3/12/1972|   12000|  6000000|  5988000|             500.0|
|        Super Size Me|   1/17/2004|   65000| 28575078| 28510078| 439.6165846153846|
|          The Gallows|   7/10/2015|  100000| 42664410| 42564410|          426.6441|
|           Open Water|    8/6/2004|  130000| 54667954| 54537954|420.52272307692306|
| The Texas Chain S...|   10/1/1974|   85000| 30859000| 30774000| 363.0470588235294|
|                Bambi|   8/14/1942|  858000|267447150|266589150|  311.709965034965|
| Night of the Livi...|   10/1/1968|  114000| 30000000| 29886000| 263.1578947368421|
|              Mad Max|   4/12/1979|  400000|100000000| 99600000|             250.0|
|            Halloween|  10/25/1978|  300000| 70000000| 69700000|233.33333333333334|
| The Legend of Bog...|    8/1/1972|  100000| 22000000| 21900000|             220.0|
|  Alice in Wonderland|    7/3/1951| 3000000|572000000|569000000|190.66666666666666|
|                  Joe|   7/15/1970|  106000| 19319254| 19213254|182.25711320754718|
|    American Graffiti|    8/1/1973|  777000|140000000|139223000|180.18018018018017|
|    Let's Do It Again|  10/11/1975|   70000| 11800000| 11730000|168.57142857142858|
|          Blood Feast|    6/6/1963|   24500|  4000000|  3975500|163.26530612244898|
|        A Ghost Story|    7/7/2017|  100000| 15584255| 15484255|         155.84255|
|                 Once|   3/23/2007|  160000| 20710513| 20550513|      129.44070625|
| Snow White and th...|  12/20/1937| 1488423|184925486|183437063|124.24256142239135|
|                Rocky|  11/21/1976| 1000000|117235147|116235147|        117.235147|
|               Clerks|   9/13/1994|   27000|  3151130|  3124130|116.70851851851852|
|    Napoleon Dynamite|   6/11/2004|  400000| 46118097| 45718097|       115.2952425|
| The Birth of a Na...|    2/8/1915|  100000| 11000000| 10900000|             110.0|
|          Keeping Mum|   12/2/2005|  169000| 18564702| 18395702| 109.8503076923077|
|  The Hills Have Eyes|   7/22/1977|  230000| 25000000| 24770000|108.69565217391305|
|      Friday the 13th|    5/9/1980|  550000| 59754601| 59204601| 108.6447290909091|
|     Enter the Dragon|   8/17/1973|  850000| 90000000| 89150000|105.88235294117646|
|    Facing the Giants|   9/29/2006|  100000| 10178331| 10078331|         101.78331|
|     The Devil Inside|    1/6/2012| 1000000|101758490|100758490|         101.75849|
|              Catfish|   9/17/2010|   30000|  3045943|  3015943|101.53143333333334|
| Sweet Sweetback's...|   4/23/1971|  150000| 15200000| 15050000|101.33333333333333|
|   Gone with the Wind|  12/15/1939| 4000000|400176459|396176459|      100.04411475|
|         Lost & Found|   4/23/1999|       1|      100|       99|             100.0|
|      The Born Losers|   8/18/1967|  360000| 36000000| 35640000|             100.0|
|       人再囧途之泰囧|  12/12/2012| 2200000|208000000|205800000| 94.54545454545455|
| The Rocky Horror ...|   8/14/1975| 1200000|112892319|111692319|        94.0769325|
|           Cinderella|    3/4/1950| 2900000|263591415|260691415| 90.89359137931035|
|       The Big Parade|   11/5/1925|  245000| 22000000| 21755000| 89.79591836734694|
|       The Quiet Ones|    4/1/2014|  200000| 17834867| 17634867|         89.174335|
|                  Saw|   10/1/2004| 1200000|103911669|102711669|        86.5930575|
|     Dawn of the Dead|    9/2/1978|  650000| 55000000| 54350000| 84.61538461538461|
|        The Evil Dead|  10/15/1981|  350000| 29400000| 29050000|              84.0|
|               Vixen!|  10/15/1968|   76000|  6000000|  5924000| 78.94736842105263|
|   Falling From Grace|   2/21/1992|       3|      232|      229| 77.33333333333333|
| E.T. the Extra-Te...|    4/3/1982|10500000|792965326|782465326| 75.52050723809523|
| My Big Fat Greek ...|   2/22/2002| 5000000|368744044|363744044|        73.7488088|
|       The Full Monty|   8/13/1997| 3500000|257850122|254350122| 73.67146342857143|
| Per un pugno di d...|   9/12/1964|  200000| 14500000| 14300000|              72.5|
|            Star Wars|   5/25/1977|11000000|775398007|764398007| 70.49072790909091|
| Saturday Night Fever|  12/16/1977| 3500000|237113184|233613184|         67.746624|
|                 Jaws|   6/18/1975| 7000000|470654000|463654000| 67.23628571428571|
|            Fireproof|   9/26/2008|  500000| 33456317| 32956317|         66.912634|
|     Crocodile Dundee|   9/26/1986| 5000000|328203506|323203506|        65.6407012|
|            Insidious|   9/13/2010| 1500000| 97009150| 95509150| 64.67276666666666|
|           Unfriended|   4/17/2015| 1000000| 62882090| 61882090|          62.88209|
|               Dr. No|   10/4/1962|  950000| 59600000| 58650000| 62.73684210526316|
|        Robot Monster|   6/25/1953|   16000|  1000000|   984000|              62.5|
|           Love Story|  12/16/1970| 2200000|136400000|134200000|              62.0|
|               Primer|   10/8/2004|    7000|   424760|   417760|             60.68|
|              Weekend|   9/22/2011|    8000|   484592|   476592|            60.574|
|         The Rescuers|   6/22/1977| 1200000| 71215869| 70015869|        59.3465575|
| Paranormal Activi...|  10/20/2010| 3000000|177512032|174512032| 59.17067733333333|
|            Woodstock|   3/26/1970|  600000| 34505110| 33905110|57.508516666666665|
|      Vanishing Point|   1/15/1971| 1300000| 72266306| 70966306| 55.58946615384615|
|              Macabre|   10/1/1958|   90000|  5000000|  4910000| 55.55555555555556|
|         The Exorcist|  12/26/1973| 8000000|441306145|433306145|      55.163268125|
| One Hundred and O...|   1/25/1961| 4000000|215880014|211880014|        53.9700035|
|                   Pi|   7/10/1998|   60000|  3221152|  3161152| 53.68586666666667|
|     Ποτέ την Κυριακή|   5/24/1960|  151000|  8000000|  7849000|52.980132450331126|
|         Animal House|   7/27/1978| 2700000|141000000|138300000| 52.22222222222222|
|   The Breakfast Club|   2/15/1985| 1000000| 51525171| 50525171|         51.525171|
|      The Jungle Book|  10/17/1967| 4000000|205843612|201843612|         51.460903|
|              Get Out|   2/24/2017| 5000000|252434250|247434250|          50.48685|
|           Goldfinger|   9/17/1964| 2500000|124881062|122381062|        49.9524248|
|          Valley Girl|    4/8/1983|  350000| 17343596| 16993596|49.553131428571426|
|          Chasing Amy|    4/4/1997|  250000| 12021272| 11771272|         48.085088|
| An Inconvenient T...|   1/24/2006| 1000000| 46243000| 45243000|            46.243|
|      Blazing Saddles|    2/7/1974| 2600000|119500000|116900000| 45.96153846153846|
| Four Weddings and...|    3/9/1994| 6000000|254700832|248700832| 42.45013866666667|
|           Roger & Me|    9/1/1989|  160000|  6706368|  6546368|           41.9148|
|         Frankenstein|  11/21/1931|  291000| 12000000| 11709000| 41.23711340206186|
| Paranormal Activi...|  10/19/2011| 5000000|205703818|200703818|        41.1407636|
|        The Godfather|   3/14/1972| 6000000|245066411|239066411|40.844401833333336|
|             Phantasm|   3/28/1979|  300000| 11988469| 11688469| 39.96156333333333|
|               Psycho|   6/16/1960|  806948| 32000000| 31193052|39.655591190510414|
|   Look Who's Talking|  10/12/1989| 7500000|296000000|288500000| 39.46666666666667|
| From Russia with ...|  10/11/1963| 2000000| 78898765| 76898765|        39.4493825|
|            Annabelle|   10/2/2014| 6500000|255273813|248773813|39.272894307692304|
|             ഗോഡ്ഫാദർ|    3/3/1991|   18000|   700000|   682000|38.888888888888886|
|        Soodhu Kavvum|    5/1/2013|  310000| 12000000| 11690000| 38.70967741935484|
+---------------------+------------+--------+---------+---------+------------------+
only showing top 100 rows

DataFrame[Title: string, Release_Date: string, Budget: int, Revenue: int, Profit: int, Return_Rate: double]

In [11]:
metadata_df_6 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Profit FROM
metadata_df_4
ORDER BY Adjusted_Profit DESC
""")
metadata_df_6.show(100)
metadata_df_6.coalesce(1).write.csv("removal Adjusted_Profit DESC.csv")
metadata_df_6

+--------------------+------------+---------+----------+----------+--------------------+
|               Title|Release_Date|   Budget|   Revenue|    Profit|     Adjusted_Profit|
+--------------------+------------+---------+----------+----------+--------------------+
|  Gone with the Wind|  12/15/1939|  4000000| 400176459| 396176459|        2.82983185E7|
| Alice in Wonderland|    7/3/1951|  3000000| 572000000| 569000000| 2.196911196911197E7|
|               Bambi|   8/14/1942|   858000| 267447150| 266589150|1.6156918181818182E7|
|Snow White and th...|  12/20/1937|  1488423| 184925486| 183437063|1.2918103028169015E7|
|           Star Wars|   5/25/1977| 11000000| 775398007| 764398007|1.2593047891268533E7|
|          Cinderella|    3/4/1950|  2900000| 263591415| 260691415|1.1046246398305085E7|
|             Titanic|  11/18/1997|200000000|1845034188|1645034188|1.0198600049597023E7|
|        The Exorcist|  12/26/1973|  8000000| 441306145| 433306145|   9298415.128755365|
|  The Sound of Music|    3/2/1965|  8200000| 286214286| 278014286|   8882245.559105432|
|                Jaws|   6/18/1975|  7000000| 470654000| 463654000|    8554501.84501845|
|E.T. the Extra-Te...|    4/3/1982| 10500000| 792965326| 782465326|   8245156.227608008|
|Star Wars: The Fo...|  12/15/2015|245000000|2068223624|1823223624|   7708375.960257901|
|One Hundred and O...|   1/25/1961|  4000000| 215880014| 211880014|   7110067.583892617|
|The Empire Strike...|   5/17/1980| 18000000| 538400000| 520400000|  6292623.9419588875|
|     The Jungle Book|  10/17/1967|  4000000| 205843612| 201843612|   5971704.497041421|
|       Jurassic Park|   6/11/1993| 63000000| 920100000| 857100000|   5935595.567867036|
|           Pinocchio|   2/23/1940|  2600000|  84300000|  81700000|   5835714.285714285|
|            Fantasia|  11/13/1940|  2280000|  83320000|  81040000|   5788571.428571428|
|       The Godfather|   3/14/1972|  6000000| 245066411| 239066411|   5774550.990338164|
|      Jurassic World|    6/9/2015|150000000|1513528810|1363528810|    5713795.83301905|
|        The Avengers|   4/25/2012|220000000|1519557910|1299557910|   5654800.208863651|
|           Furious 7|    4/1/2015|190000000|1506249360|1316249360|   5563207.621333987|
|The Lord of the R...|   12/1/2003| 94000000|1118888979|1024888979|    5560981.98046663|
|  Return of the Jedi|   5/23/1983| 32350000| 572700000| 540350000|   5430653.266331659|
|Harry Potter and ...|    7/7/2011|125000000|1342000000|1217000000|   5386814.918423173|
|       The Lion King|   6/23/1994| 45000000| 788241776| 743241776|   5008367.762803234|
|Star Wars: Episod...|   5/19/1999|115000000| 924317558| 809317558|   4869540.060168472|
|              Frozen|  11/27/2013|150000000|1274219009|1124219009|   4823959.806735923|
|Harry Potter and ...|  11/16/2001|125000000| 976475550| 851475550|   4818763.723825693|
|Avengers: Age of ...|   4/22/2015|280000000|1405403694|1125403694|   4732464.388890057|
|    Independence Day|   6/25/1996| 75000000| 816969268| 741969268|   4725918.904458599|
|The Lord of the R...|  12/18/2002| 79000000| 926287400| 847287400|   4663111.722619703|
|        Finding Nemo|   5/30/2003| 94000000| 940335536| 846335536|   4607161.328252586|
|Close Encounters ...|  11/16/1977| 20000000| 303788635| 283788635|   4569865.297906602|
|             Minions|   6/17/2015| 74000000|1156730962|1082730962|   4536823.024126979|
|Beauty and the Beast|   3/16/2017|160000000|1262886337|1102886337|   4510339.831672965|
|             Ben-Hur|  12/26/1959| 15000000| 146900000| 131900000|   4501706.484641638|
|The Lord of the R...|  12/18/2001| 93000000| 871368364| 778368364|   4395078.283455675|
|          Iron Man 3|   4/18/2013|200000000|1215439994|1015439994|  4359140.5439052135|
|Harry Potter and ...|  11/13/2002|100000000| 876688482| 776688482|  4283996.0397131825|
|         Thunderball|  12/16/1965|  5500000| 141195658| 135695658|  4267159.0566037735|
|Pirates of the Ca...|   6/20/2006|200000000|1065659812| 865659812|    4253856.57002457|
|        Forrest Gump|    7/6/1994| 55000000| 677945399| 622945399|   4197745.276280323|
|Transformers: Dar...|   6/28/2011|195000000|1123746996| 928746996|  4110918.7949823393|
|Raiders of the Lo...|   6/12/1981| 18000000| 389925971| 371925971|  4105143.1677704197|
|             Shrek 2|   5/19/2004|150000000| 919838758| 769838758|  4058190.6062203483|
|The Fate of the F...|   4/12/2017|250000000|1238764765| 988764765|  4043630.7479020464|
|The Ten Commandments|   10/5/1956| 13000000| 122700000| 109700000|   3989090.909090909|
|         Toy Story 3|   6/16/2010|200000000|1066969703| 866969703|  3976724.5827045427|
|             Skyfall|  10/25/2012|200000000|1108561013| 908561013|  3946473.2278984105|
|          Goldfinger|   9/17/1964|  2500000| 124881062| 122381062|  3935082.3794212216|
|     Despicable Me 3|   6/15/2017| 80000000|1020063384| 940063384|    3837698.28744055|
|     Despicable Me 2|   6/25/2013| 76000000| 970761885| 894761885|  3830381.8772581723|
|          Spider-Man|    5/1/2002|139000000| 821708551| 682708551|  3797044.2213570634|
| Alice in Wonderland|    3/3/2010|200000000|1025491110| 825491110|   3793076.859454765|
|Star Wars: Episod...|   5/17/2005|113000000| 850000000| 737000000|   3789203.084832905|
|     The Sixth Sense|    8/6/1999| 40000000| 672806292| 632806292|  3786991.5739078396|
|Harry Potter and ...|   6/28/2007|150000000| 938212738| 788212738|    3784044.75297529|
|Harry Potter and ...|   11/5/2005|150000000| 895921036| 745921036|   3774904.028340081|
|Captain America: ...|   4/27/2016|250000000|1153304495| 903304495|   3760180.889900886|
|     The Dark Knight|   7/16/2008|185000000|1004558444| 819558444|   3740807.007293939|
|Saturday Night Fever|  12/16/1977|  3500000| 237113184| 233613184|         3737810.944|
|               Ghost|   7/12/1990| 22000000| 505000000| 483000000|  3703987.7300613495|
|Transformers: Age...|   6/25/2014|210000000|1091405097| 881405097|    3699496.73452256|
|Ice Age: Dawn of ...|   6/29/2009| 90000000| 886686817| 796686817|   3699480.462129268|
|            Zootopia|   2/11/2016|150000000|1023784195| 873784195|  3685127.1978103085|
|The Dark Knight R...|   7/16/2012|250000000|1084939099| 834939099|   3624197.947729611|
|            Superman|  12/13/1978| 55000000| 300218018| 245218018|  3622127.2968980796|
|Rogue One: A Star...|  12/14/2016|200000000|1056057273| 856057273|   3545749.001789324|
|    Live and Let Die|    7/5/1973|  7000000| 161777836| 154777836|  3493856.3431151244|
|        Pretty Woman|   3/23/1990| 14000000| 463000000| 449000000|   3483320.403413499|
|Harry Potter and ...|   5/31/2004|130000000| 789804554| 659804554|  3478147.3589878757|
|        Finding Dory|   6/16/2016|200000000|1028570889| 828570889|  3443368.5564439716|
|Indiana Jones and...|   5/24/1989| 48000000| 474171806| 426171806|   3434099.967767929|
|          Home Alone|   11/9/1990| 18000000| 476684675| 458684675|  3428136.5844544093|
|Ice Age: Continen...|   6/26/2012| 95000000| 877244782| 782244782|  3414365.4497520775|
|          Love Story|  12/16/1970|  2200000| 136400000| 134200000|   3371859.296482412|
|  Back to the Future|    7/3/1985| 19000000| 381109762| 362109762|  3359088.7012987016|
|The Hobbit: An Un...|  11/26/2012|250000000|1021103568| 771103568|   3358450.390024434|
|             Aladdin|  11/25/1992| 28000000| 504050219| 476050219|   3354828.886539817|
|The Secret Life o...|   6/18/2016| 75000000| 875457937| 800457937|  3326536.9657728947|
|     The Jungle Book|    4/7/2016|175000000| 966550600| 791550600|   3308314.351273296|
|           The Sting|  12/25/1973|  5500000| 159616327| 154116327|  3307217.3175965664|
|Harry Potter and ...|  10/17/2010|250000000| 954305868| 704305868|   3218904.073527328|
|            Rain Man|  12/11/1988| 25000000| 412800000| 387800000|   3218257.261410788|
| The Matrix Reloaded|   5/15/2003|150000000| 738599701| 588599701|  3207627.7983651226|
|Transformers: Rev...|   6/19/2009|150000000| 836297228| 686297228|  3186877.3676463077|
|Harry Potter and ...|    7/7/2009|250000000| 933959197| 683959197|   3176020.529275462|
|Pirates of the Ca...|   5/19/2007|300000000| 961000000| 661000000|   3172515.742589464|
|      Doctor Zhivago|  12/22/1965| 11000000| 111858363| 100858363|   3171646.635220126|
|   The Da Vinci Code|   5/17/2006|125000000| 767820459| 642820459|  3168163.9181862986|
|           Peter Pan|    2/5/1953|  4000000|  87404651|  83404651|   3147345.320754717|
|             Top Gun|   5/16/1986| 15000000| 356830601| 341830601|  3121740.6484018266|
|        Men in Black|    7/2/1997| 90000000| 589390539| 499390539|  3111467.5327102803|
|The Passion of th...|   2/25/2004| 30000000| 611899420| 581899420|   3105119.637139808|
|The Twilight Saga...|   3/15/2009| 50000000| 709827462| 659827462|  3102019.4820153355|
|        Mary Poppins|   8/27/1964|  6000000| 102272727|  96272727|  3095586.0771704176|
|   American Graffiti|    8/1/1973|   777000| 140000000| 139223000|  3086984.4789356985|
|Terminator 2: Jud...|    7/1/1991|100000000| 520000000| 420000000|  3083700.4405286345|
|        Spider-Man 2|   6/25/2004|200000000| 783766341| 583766341|   3082187.650475185|
+--------------------+------------+---------+----------+----------+--------------------+
only showing top 100 rows

AnalysisException: path file:/home/yifeisun/removal Adjusted_Profit DESC.csv already exists.

In [12]:
metadata_df_7 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Profit FROM
metadata_df_4
ORDER BY Profit DESC
""")
metadata_df_7.coalesce(1).write.csv("removal Profit DESC.csv")
metadata_df_7.show(100)

AnalysisException: path file:/home/yifeisun/removal Profit DESC.csv already exists.

In [13]:
metadata_df_8 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Profit FROM
metadata_df_4
ORDER BY Profit ASC
""")
metadata_df_8.coalesce(1).write.csv("removal Profit ASC.csv")
metadata_df_8.show(100)

AnalysisException: path file:/home/yifeisun/removal Profit ASC.csv already exists.

In [14]:
metadata_df_9 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Profit FROM
metadata_df_4
ORDER BY Adjusted_Profit ASC
""")
metadata_df_9.coalesce(1).write.csv("removal Adjusted_Profit ASC.csv")
metadata_df_9.show(100)

AnalysisException: path file:/home/yifeisun/removal Adjusted_Profit ASC.csv already exists.

In [15]:
metadata_df_10 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Budget FROM
metadata_df_4
ORDER BY Budget DESC
""")
metadata_df_10.coalesce(1).write.csv("removal Budget DESC.csv")
metadata_df_10.show(100)

+--------------------+------------+---------+----------+----------+------------------+
|               Title|Release_Date|   Budget|   Revenue|    Profit|   Adjusted_Budget|
+--------------------+------------+---------+----------+----------+------------------+
|Pirates of the Ca...|   5/14/2011|380000000|1045713802| 665713802| 1681683.808040219|
|Pirates of the Ca...|   5/19/2007|300000000| 961000000| 661000000|1439870.9875595146|
|Avengers: Age of ...|   4/22/2015|280000000|1405403694|1125403694|1177435.2936229263|
|    Superman Returns|   6/28/2006|270000000| 391081192| 121081192|1326781.3267813267|
|             Tangled|  11/24/2010|260000000| 591794936| 331794936| 1186245.032598926|
|         John Carter|    3/7/2012|260000000| 284139100|  24139100| 1133430.982771849|
|Transformers: The...|   6/21/2017|260000000| 604942143| 344942143|1062152.2472690432|
|        Spider-Man 3|    5/1/2007|258000000| 890871626| 632871626|1240688.8227401911|
|     The Lone Ranger|    7/3/2013|255000000|  89289910|-165710090|1091628.2813061867|
|The Fate of the F...|   4/12/2017|250000000|1238764765| 988764765|1022394.5297803079|
|The Dark Knight R...|   7/16/2012|250000000|1084939099| 834939099|1085168.3530182873|
|The Hobbit: An Un...|  11/26/2012|250000000|1021103568| 771103568| 1088845.431857875|
|The Hobbit: The D...|  12/11/2013|250000000| 958400000| 708400000| 1072735.776596338|
|Harry Potter and ...|  10/17/2010|250000000| 954305868| 704305868|1142580.3119701284|
|Harry Potter and ...|    7/7/2009|250000000| 933959197| 683959197|1160895.4683284499|
|The Hobbit: The B...|  12/10/2014|250000000| 956019788| 706019788|1064681.5324600106|
|Captain America: ...|   4/27/2016|250000000|1153304495| 903304495|1040673.6905202952|
|X-Men: Days of Fu...|   5/15/2014|250000000| 747862775| 497862775|1050861.7065994116|
|Batman v Superman...|   3/23/2016|250000000| 873260194| 623260194|1044884.0387693774|
|Star Wars: The Fo...|  12/15/2015|245000000|2068223624|1823223624| 1035831.307472783|
|             Spectre|  10/26/2015|245000000| 880674609| 635674609|1032291.7720025617|
|              Avatar|  12/10/2009|237000000|      null|      null|1097481.3497631385|
|Pirates of the Ca...|   5/23/2017|230000000| 794191988| 564191988| 938947.9700353126|
|      Men in Black 3|   5/23/2012|225000000| 624026776| 399026776| 980486.1468201744|
|        Man of Steel|   6/12/2013|225000000| 662845518| 437845518| 963580.9236672606|
|The Chronicles of...|   5/15/2008|225000000| 419651413| 194651413|1038627.7188965619|
|        The Avengers|   4/25/2012|220000000|1519557910|1299557910| 957291.7346561365|
|The Amazing Spide...|   6/27/2012|215000000| 752215857| 537215857| 938438.4384384383|
|X-Men: The Last S...|   5/24/2006|210000000| 459359555| 249359555|1034992.6071956629|
|Transformers: Age...|   6/25/2014|210000000|1091405097| 881405097|  881427.072402938|
|          Battleship|   4/11/2012|209000000| 303025485|  94025485| 908359.9539300693|
|           King Kong|  12/14/2005|207000000| 550000000| 343000000| 1051829.268292683|
|             Skyfall|  10/25/2012|200000000|1108561013| 908561013| 868730.4807120115|
|Terminator 3: Ris...|    7/2/2003|200000000| 435000000| 235000000| 1087547.580206634|
|              Cars 2|   6/11/2011|200000000| 559852396| 359852396| 886045.6667936665|
|Rogue One: A Star...|  12/14/2016|200000000|1056057273| 856057273| 828390.6027370025|
|The Amazing Spide...|   4/16/2014|200000000| 705717432| 505717432| 840689.3652795292|
|         Toy Story 3|   6/16/2010|200000000|1066969703| 866969703|  917384.902596658|
|Oz: The Great and...|    3/7/2013|200000000| 491868548| 291868548| 859206.1794108424|
|   Quantum of Solace|  10/30/2008|200000000| 586090727| 386090727|    941508.7678004|
|          Iron Man 3|   4/18/2013|200000000|1215439994|1015439994| 858571.7658674795|
| Alice in Wonderland|    3/3/2010|200000000|1025491110| 825491110| 918986.7252367539|
|Terminator Salvation|   5/20/2009|200000000| 371353001| 171353001| 927243.8141247049|
|Guardians of the ...|   4/19/2017|200000000| 863416141| 663416141| 817217.1305054897|
|        Finding Dory|   6/16/2016|200000000|1028570889| 828570889| 831158.4686736374|
|   A Christmas Carol|   11/4/2009|200000000| 325233863| 125233863|  924513.474783895|
|Pirates of the Ca...|   6/20/2006|200000000|1065659812| 865659812| 982800.9828009828|
|        Spider-Man 2|   6/25/2004|200000000| 783766341| 583766341|1055966.2090813094|
|          Iron Man 2|   4/28/2010|200000000| 623933331| 423933331| 916682.7086140674|
|          Robin Hood|   5/12/2010|200000000| 310669540| 110669540| 916682.7086140674|
|                2012|  10/10/2009|200000000| 769653595| 569653595| 925167.8023101441|
| Monsters University|   6/20/2013|200000000| 743559607| 543559607| 856179.0441617151|
|         World War Z|   6/20/2013|200000000| 531865000| 331865000| 856179.0441617151|
|             Titanic|  11/18/1997|200000000|1845034188|1645034188| 1239925.604463732|
|       Green Lantern|   6/16/2011|200000000| 219851172|  19851172| 885261.2848682288|
|Valerian and the ...|   7/20/2017|197471676|  90024292|-107447384| 804303.0315372741|
|Transformers: Dar...|   6/28/2011|195000000|1123746996| 928746996| 863129.7527465231|
|Jack the Giant Sl...|   2/27/2013|195000000| 197687603|   2687603| 837726.0249255713|
|           Furious 7|    4/1/2015|190000000|1506249360|1316249360| 803046.5048457517|
|        Tomorrowland|   5/19/2015|190000000| 209154322|  19154322| 796185.0166360764|
|Star Trek Into Da...|    5/5/2013|190000000| 467365246| 277365246| 815643.1775741054|
|               Brave|   6/21/2012|185000000| 538983207| 353983207| 807493.5400516796|
|Indiana Jones and...|   5/21/2008|185000000| 786636033| 601636033| 845463.0624043142|
|  Kong: Skull Island|    3/8/2017|185000000| 566652812| 381652812| 758815.5914044651|
|    Star Trek Beyond|    7/7/2016|185000000| 343471816| 158471816| 768821.5835231146|
|     The Dark Knight|   7/16/2008|185000000|1004558444| 819558444| 844417.2608016942|
|         Pacific Rim|   7/11/2013|180000000| 407602906| 227602906| 770561.1397455436|
|              WALL·E|   6/22/2008|180000000| 521311860| 341311860|  818315.724391264|
|          Maleficent|   5/28/2014|180000000| 758539785| 578539785| 755214.1241823758|
|The Legend of Tarzan|   6/29/2016|180000000| 356743061| 176743061| 748042.6218062736|
|Fantastic Beasts ...|  11/16/2016|180000000| 809342332| 629342332| 745551.5424633024|
|  The Golden Compass|   12/4/2007|180000000| 372234864| 192234864| 856995.9435525339|
|   X-Men: Apocalypse|   5/18/2016|178000000| 543934787| 365934787| 738534.0513986507|
|    Edge of Tomorrow|   5/27/2014|178000000| 370541256| 192541256|  746822.856135905|
|          Inside Out|    6/9/2015|175000000| 857611174| 682611174| 733328.3047963862|
|       Suicide Squad|    8/2/2016|175000000| 745600054| 570600054| 726596.3321417153|
|       Evan Almighty|    6/9/2007|175000000| 173000000|  -2000000| 839924.7427430502|
|              Cars 3|   6/15/2017|175000000| 350170057| 175170057| 714416.9337225205|
|          Waterworld|   7/28/1995|175000000| 264218220|  89218220|1144538.9143230869|
|            47 Ronin|   12/6/2013|175000000| 150962475| -24037525| 750915.0436174367|
|                  Up|   5/13/2009|175000000| 735099082| 560099082| 818307.6462666467|
|                Troy|   5/13/2004|175000000| 497409852| 322409852| 925436.2771020625|
|  Monsters vs Aliens|   3/19/2009|175000000| 381509870| 206509870| 820671.5438004127|
|   The Good Dinosaur|  11/14/2015|175000000| 331926147| 156926147| 737351.2657161155|
|G.I. Joe: The Ris...|    8/4/2009|175000000| 302469017| 127469017| 810808.3063836097|
|     The Jungle Book|    4/7/2016|175000000| 966550600| 791550600| 731418.8271385642|
|Alice Through the...|   5/25/2016|170000000| 299370084| 129370084| 705341.5097627563|
|Captain America: ...|   3/20/2014|170000000| 714766572| 544766572| 717081.7304447594|
|Dawn of the Plane...|   6/26/2014|170000000| 710644566| 540644566| 713536.2014690451|
|        TRON: Legacy|  12/10/2010|170000000| 400062763| 230062763| 775621.7520839132|
|      Wild Wild West|   6/29/1999|170000000| 222104681|  52104681|1019796.0407918417|
|Guardians of the ...|   7/30/2014|170000000| 773328629| 603328629| 714730.1683399761|
|                Hugo|  11/22/2011|170000000| 185770160|  15770160| 753305.6825835726|
|Thor: The Dark World|  10/29/2013|170000000| 644571402| 474571402|  729397.732002111|
|Snow White and th...|   5/30/2012|170000000| 396600000| 226600000| 740811.7553752429|
|        Interstellar|   11/5/2014|165000000| 675120017| 510120017| 698705.4892843985|
|          Big Hero 6|  10/24/2014|165000000| 652105443| 487105443| 698705.4892843985|
|Independence Day:...|   6/22/2016|165000000| 389681935| 224681935| 685705.7366557508|
|      Doctor Strange|  10/25/2016|165000000| 677718395| 512718395| 683645.9459795404|
| Shrek Forever After|   5/16/2010|165000000| 752600867| 587600867|  757002.271006813|
+--------------------+------------+---------+----------+----------+------------------+
only showing top 100 rows

In [16]:
metadata_df_10 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Budget FROM
metadata_df_4
ORDER BY Adjusted_Budget DESC
""")
metadata_df_10.coalesce(1).write.csv("removal Adjusted_Budget DESC.csv")
metadata_df_10.show(100)

+--------------------+------------+---------+----------+----------+------------------+
|               Title|Release_Date|   Budget|   Revenue|    Profit|   Adjusted_Budget|
+--------------------+------------+---------+----------+----------+------------------+
|          Metropolis|   1/10/1927| 92620000|    650422| -91969578| 5292571.428571428|
|The Manchurian Ca...|  10/24/1962| 80000000|  96105910|  16105910| 2631578.947368421|
|Pirates of the Ca...|   5/14/2011|380000000|1045713802| 665713802| 1681683.808040219|
|Pirates of the Ca...|   5/19/2007|300000000| 961000000| 661000000|1439870.9875595146|
|    Superman Returns|   6/28/2006|270000000| 391081192| 121081192|1326781.3267813267|
|        Spider-Man 3|    5/1/2007|258000000| 890871626| 632871626|1240688.8227401911|
|             Titanic|  11/18/1997|200000000|1845034188|1645034188| 1239925.604463732|
|             Tangled|  11/24/2010|260000000| 591794936| 331794936| 1186245.032598926|
|Avengers: Age of ...|   4/22/2015|280000000|1405403694|1125403694|1177435.2936229263|
|Harry Potter and ...|    7/7/2009|250000000| 933959197| 683959197|1160895.4683284499|
|          Waterworld|   7/28/1995|175000000| 264218220|  89218220|1144538.9143230869|
|Harry Potter and ...|  10/17/2010|250000000| 954305868| 704305868|1142580.3119701284|
|         John Carter|    3/7/2012|260000000| 284139100|  24139100| 1133430.982771849|
|              Avatar|  12/10/2009|237000000|      null|      null|1097481.3497631385|
|     The Lone Ranger|    7/3/2013|255000000|  89289910|-165710090|1091628.2813061867|
|The Hobbit: An Un...|  11/26/2012|250000000|1021103568| 771103568| 1088845.431857875|
|Terminator 3: Ris...|    7/2/2003|200000000| 435000000| 235000000| 1087547.580206634|
|The Dark Knight R...|   7/16/2012|250000000|1084939099| 834939099|1085168.3530182873|
|The Hobbit: The D...|  12/11/2013|250000000| 958400000| 708400000| 1072735.776596338|
|The Hobbit: The B...|  12/10/2014|250000000| 956019788| 706019788|1064681.5324600106|
|Transformers: The...|   6/21/2017|260000000| 604942143| 344942143|1062152.2472690432|
|        Spider-Man 2|   6/25/2004|200000000| 783766341| 583766341|1055966.2090813094|
|           King Kong|  12/14/2005|207000000| 550000000| 343000000| 1051829.268292683|
|X-Men: Days of Fu...|   5/15/2014|250000000| 747862775| 497862775|1050861.7065994116|
|Batman v Superman...|   3/23/2016|250000000| 873260194| 623260194|1044884.0387693774|
|Captain America: ...|   4/27/2016|250000000|1153304495| 903304495|1040673.6905202952|
|The Chronicles of...|   5/15/2008|225000000| 419651413| 194651413|1038627.7188965619|
|Star Wars: The Fo...|  12/15/2015|245000000|2068223624|1823223624| 1035831.307472783|
|X-Men: The Last S...|   5/24/2006|210000000| 459359555| 249359555|1034992.6071956629|
|             Spectre|  10/26/2015|245000000| 880674609| 635674609|1032291.7720025617|
|The Fate of the F...|   4/12/2017|250000000|1238764765| 988764765|1022394.5297803079|
|      Wild Wild West|   6/29/1999|170000000| 222104681|  52104681|1019796.0407918417|
|           Cleopatra|   6/12/1963| 31115000|  71000000|  39885000|1016830.0653594771|
|Speed 2: Cruise C...|   6/13/1997|160000000| 164508066|   4508066| 998128.5090455395|
|Pirates of the Ca...|   6/20/2006|200000000|1065659812| 865659812| 982800.9828009828|
|      Men in Black 3|   5/23/2012|225000000| 624026776| 399026776| 980486.1468201744|
|        Man of Steel|   6/12/2013|225000000| 662845518| 437845518| 963580.9236672606|
|        The Avengers|   4/25/2012|220000000|1519557910|1299557910| 957291.7346561365|
|    The 13th Warrior|   8/27/1999|160000000|  61698899| -98301101| 952948.1834425253|
|   Quantum of Solace|  10/30/2008|200000000| 586090727| 386090727|    941508.7678004|
|Pirates of the Ca...|   5/23/2017|230000000| 794191988| 564191988| 938947.9700353126|
|The Amazing Spide...|   6/27/2012|215000000| 752215857| 537215857| 938438.4384384383|
|Terminator Salvation|   5/20/2009|200000000| 371353001| 171353001| 927243.8141247049|
|                Troy|   5/13/2004|175000000| 497409852| 322409852| 925436.2771020625|
|                2012|  10/10/2009|200000000| 769653595| 569653595| 925167.8023101441|
|   A Christmas Carol|   11/4/2009|200000000| 325233863| 125233863|  924513.474783895|
| Alice in Wonderland|    3/3/2010|200000000|1025491110| 825491110| 918986.7252367539|
|         Toy Story 3|   6/16/2010|200000000|1066969703| 866969703|  917384.902596658|
|          Robin Hood|   5/12/2010|200000000| 310669540| 110669540| 916682.7086140674|
|          Iron Man 2|   4/28/2010|200000000| 623933331| 423933331| 916682.7086140674|
|          Battleship|   4/11/2012|209000000| 303025485|  94025485| 908359.9539300693|
|              Tarzan|   6/18/1999|150000000| 448000000| 298000000| 899820.0359928015|
|              Cars 2|   6/11/2011|200000000| 559852396| 359852396| 886045.6667936665|
|       Green Lantern|   6/16/2011|200000000| 219851172|  19851172| 885261.2848682288|
|Transformers: Age...|   6/25/2014|210000000|1091405097| 881405097|  881427.072402938|
|             Skyfall|  10/25/2012|200000000|1108561013| 908561013| 868730.4807120115|
|   The Polar Express|  11/10/2004|165000000| 305875730| 140875730| 863874.3455497383|
|Transformers: Dar...|   6/28/2011|195000000|1123746996| 928746996| 863129.7527465231|
|Oz: The Great and...|    3/7/2013|200000000| 491868548| 291868548| 859206.1794108424|
|          Iron Man 3|   4/18/2013|200000000|1215439994|1015439994| 858571.7658674795|
|     Lethal Weapon 4|   7/10/1998|140000000| 285444603| 145444603|  857843.137254902|
|          Armageddon|    7/1/1998|140000000| 553799566| 413799566|  857843.137254902|
|  The Golden Compass|   12/4/2007|180000000| 372234864| 192234864| 856995.9435525339|
|         World War Z|   6/20/2013|200000000| 531865000| 331865000| 856179.0441617151|
| Monsters University|   6/20/2013|200000000| 743559607| 543559607| 856179.0441617151|
|         Van Helsing|    5/5/2004|160000000| 300257475| 140257475| 846113.1676361713|
|Indiana Jones and...|   5/21/2008|185000000| 786636033| 601636033| 845463.0624043142|
|     The Dark Knight|   7/16/2008|185000000|1004558444| 819558444| 844417.2608016942|
|The Amazing Spide...|   4/16/2014|200000000| 705717432| 505717432| 840689.3652795292|
|       Evan Almighty|    6/9/2007|175000000| 173000000|  -2000000| 839924.7427430502|
|Jack the Giant Sl...|   2/27/2013|195000000| 197687603|   2687603| 837726.0249255713|
|        Finding Dory|   6/16/2016|200000000|1028570889| 828570889| 831158.4686736374|
|Rogue One: A Star...|  12/14/2016|200000000|1056057273| 856057273| 828390.6027370025|
|  Monsters vs Aliens|   3/19/2009|175000000| 381509870| 206509870| 820671.5438004127|
|              WALL·E|   6/22/2008|180000000| 521311860| 341311860|  818315.724391264|
|                  Up|   5/13/2009|175000000| 735099082| 560099082| 818307.6462666467|
| The Matrix Reloaded|   5/15/2003|150000000| 738599701| 588599701| 817438.6920980926|
|Guardians of the ...|   4/19/2017|200000000| 863416141| 663416141| 817217.1305054897|
|Star Trek Into Da...|    5/5/2013|190000000| 467365246| 277365246| 815643.1775741054|
|           Alexander|  11/21/2004|155000000| 167298192|  12298192| 814503.4156594849|
|The Matrix Revolu...|   11/5/2003|150000000| 424988211| 274988211| 813008.1300813009|
|Master and Comman...|  11/14/2003|150000000| 212011111|  62011111| 813008.1300813009|
|            Superman|  12/13/1978| 55000000| 300218018| 245218018| 812407.6809453471|
|G.I. Joe: The Ris...|    8/4/2009|175000000| 302469017| 127469017| 810808.3063836097|
|               Brave|   6/21/2012|185000000| 538983207| 353983207| 807493.5400516796|
|Valerian and the ...|   7/20/2017|197471676|  90024292|-107447384| 804303.0315372741|
|           Furious 7|    4/1/2015|190000000|1506249360|1316249360| 803046.5048457517|
|The World Is Not ...|   11/8/1999|135000000| 361832400| 226832400|  802139.037433155|
|            Godzilla|   5/20/1998|130000000| 379014294| 249014294| 797546.0122699386|
|        Tomorrowland|   5/19/2015|190000000| 209154322|  19154322| 796185.0166360764|
|             Shrek 2|   5/19/2004|150000000| 919838758| 769838758| 790722.1929362151|
|            Poseidon|   5/12/2006|160000000| 181674817|  21674817| 790123.4567901235|
|       Stuart Little|  12/17/1999|133000000| 300135367| 167135367| 787914.6919431279|
|        Pearl Harbor|   5/21/2001|140000000| 449220945| 309220945| 786516.8539325843|
|      Batman & Robin|   6/20/1997|125000000| 238207122| 113207122|  778816.199376947|
|     Men in Black II|    7/3/2002|140000000| 441818803| 301818803| 777345.9189339256|
|        TRON: Legacy|  12/10/2010|170000000| 400062763| 230062763| 775621.7520839132|
|           True Lies|   7/14/1994|115000000| 378882411| 263882411| 774932.6145552561|
|     Die Another Day|  11/17/2002|140000000| 431971116| 291971116| 773908.2365948037|
|     Treasure Planet|  11/26/2002|140000000| 109578115| -30421885| 773908.2365948037|
+--------------------+------------+---------+----------+----------+------------------+
only showing top 100 rows

In [17]:
metadata_df_11 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Revenue FROM
metadata_df_4
ORDER BY Revenue DESC
""")
metadata_df_11.coalesce(1).write.csv("removal Revenue DESC.csv")
metadata_df_11.show(100)

+--------------------+------------+---------+----------+----------+--------------------+
|               Title|Release_Date|   Budget|   Revenue|    Profit|    Adjusted_Revenue|
+--------------------+------------+---------+----------+----------+--------------------+
|Star Wars: The Fo...|  12/15/2015|245000000|2068223624|1823223624|   8744207.267730683|
|             Titanic|  11/18/1997|200000000|1845034188|1645034188|1.1438525654060755E7|
|        The Avengers|   4/25/2012|220000000|1519557910|1299557910|   6612091.943519788|
|      Jurassic World|    6/9/2015|150000000|1513528810|1363528810|   6342362.951415952|
|           Furious 7|    4/1/2015|190000000|1506249360|1316249360|   6366254.126179739|
|Avengers: Age of ...|   4/22/2015|280000000|1405403694|1125403694|   5909899.682512983|
|Harry Potter and ...|    7/7/2011|125000000|1342000000|1217000000|   5940103.221465816|
|              Frozen|  11/27/2013|150000000|1274219009|1124219009|   5467601.272693725|
|Beauty and the Beast|   3/16/2017|160000000|1262886337|1102886337|   5164672.330732361|
|The Fate of the F...|   4/12/2017|250000000|1238764765| 988764765|   5066025.277682355|
|          Iron Man 3|   4/18/2013|200000000|1215439994|1015439994|   5217712.309772694|
|             Minions|   6/17/2015| 74000000|1156730962|1082730962|   4846895.346401066|
|Captain America: ...|   4/27/2016|250000000|1153304495| 903304495|   4800854.580421181|
|Transformers: Dar...|   6/28/2011|195000000|1123746996| 928746996|   4974048.547728863|
|The Lord of the R...|   12/1/2003| 94000000|1118888979|1024888979|   6071019.962018448|
|             Skyfall|  10/25/2012|200000000|1108561013| 908561013|   4815203.708610422|
|Transformers: Age...|   6/25/2014|210000000|1091405097| 881405097|   4580923.806925499|
|The Dark Knight R...|   7/16/2012|250000000|1084939099| 834939099|   4709366.300747898|
|         Toy Story 3|   6/16/2010|200000000|1066969703| 866969703|     4894109.4853012|
|Pirates of the Ca...|   6/20/2006|200000000|1065659812| 865659812|   5236657.552825552|
|Rogue One: A Star...|  12/14/2016|200000000|1056057273| 856057273|   4374139.604526326|
|Pirates of the Ca...|   5/14/2011|380000000|1045713802| 665713802|   4627789.391230461|
|        Finding Dory|   6/16/2016|200000000|1028570889| 828570889|   4274527.025117609|
| Alice in Wonderland|    3/3/2010|200000000|1025491110| 825491110|   4712063.584691519|
|            Zootopia|   2/11/2016|150000000|1023784195| 873784195|   4317742.302128539|
|The Hobbit: An Un...|  11/26/2012|250000000|1021103568| 771103568|   4447295.821882308|
|     Despicable Me 3|   6/15/2017| 80000000|1020063384| 940063384|  4164288.8857137025|
|     The Dark Knight|   7/16/2008|185000000|1004558444| 819558444|   4585224.268095633|
|Harry Potter and ...|  11/16/2001|125000000| 976475550| 851475550|   5526177.419354839|
|     Despicable Me 2|   6/25/2013| 76000000| 970761885| 894761885|   4155729.914039624|
|     The Jungle Book|    4/7/2016|175000000| 966550600| 791550600|    4039733.17841186|
|Pirates of the Ca...|   5/19/2007|300000000| 961000000| 661000000|  4612386.7301489785|
|The Hobbit: The D...|  12/11/2013|250000000| 958400000| 708400000|  4112439.8731597215|
|The Hobbit: The B...|  12/10/2014|250000000| 956019788| 706019788|  4071426.4517997373|
|Harry Potter and ...|  10/17/2010|250000000| 954305868| 704305868|   4361484.385497456|
|        Finding Nemo|   5/30/2003| 94000000| 940335536| 846335536|  5118865.1932498645|
|Harry Potter and ...|   6/28/2007|150000000| 938212738| 788212738|   4504163.428533022|
|Harry Potter and ...|    7/7/2009|250000000| 933959197| 683959197|   4336915.997603912|
|The Lord of the R...|  12/18/2002| 79000000| 926287400| 847287400|   5097894.331315355|
|Star Wars: Episod...|   5/19/1999|115000000| 924317558| 809317558|   5561477.484957882|
|       Jurassic Park|   6/11/1993| 63000000| 920100000| 857100000|   6371883.656509695|
|             Shrek 2|   5/19/2004|150000000| 919838758| 769838758|   4848912.799156563|
|Harry Potter and ...|   11/5/2005|150000000| 895921036| 745921036|   4534013.340080972|
|        Spider-Man 3|    5/1/2007|258000000| 890871626| 632871626|   4284087.088661162|
|Ice Age: Dawn of ...|   6/29/2009| 90000000| 886686817| 796686817|    4117402.83072751|
|             Spectre|  10/26/2015|245000000| 880674609| 635674609|   3710665.929315401|
|Ice Age: Continen...|   6/26/2012| 95000000| 877244782| 782244782|  3829024.2946434803|
|Harry Potter and ...|  11/13/2002|100000000| 876688482| 776688482|   4835568.019856591|
|The Secret Life o...|   6/18/2016| 75000000| 875457937| 800457937|  3638221.3915255084|
|Batman v Superman...|   3/23/2016|250000000| 873260194| 623260194|      3649822.553613|
|The Lord of the R...|  12/18/2001| 93000000| 871368364| 778368364|   4920205.330321852|
|Guardians of the ...|   4/19/2017|200000000| 863416141| 663416141|   3527992.305900716|
|          Inside Out|    6/9/2015|175000000| 857611174| 682611174|   3593774.562307763|
|Star Wars: Episod...|   5/17/2005|113000000| 850000000| 737000000|   4370179.948586118|
|The Hunger Games:...|  11/15/2013|130000000| 847423452| 717423452|   3635933.787848234|
|Transformers: Rev...|   6/19/2009|150000000| 836297228| 686297228|  3883414.6486433777|
|The Twilight Saga...|  11/13/2012|120000000| 829000000| 709000000|  3600887.8425512877|
|           Inception|   7/14/2010|160000000| 825532764| 665532764|   3786656.471462449|
|          Spider-Man|    5/1/2002|139000000| 821708551| 682708551|    4570125.42269188|
|        Wonder Woman|   5/30/2017|149000000| 820580447| 671580447|   3349923.238962258|
|    Independence Day|   6/25/1996| 75000000| 816969268| 741969268|   5203625.910828025|
|Fantastic Beasts ...|  11/16/2016|180000000| 809342332| 629342332|  3352257.9111302565|
|     Shrek the Third|   5/17/2007|160000000| 798958165| 638958165|  3834655.6068576253|
|Pirates of the Ca...|   5/23/2017|230000000| 794191988| 564191988|  3242195.4563083015|
|E.T. the Extra-Te...|    4/3/1982| 10500000| 792965326| 782465326|   8355799.009483666|
|Harry Potter and ...|   5/31/2004|130000000| 789804554| 659804554|   4163439.926199262|
|    Fast & Furious 6|    5/6/2013|160000000| 788679850| 628679850|  3385691.2575929943|
|       The Lion King|   6/23/1994| 45000000| 788241776| 743241776|   5311602.264150944|
|Indiana Jones and...|   5/21/2008|185000000| 786636033| 601636033|   3594982.213285195|
|        Spider-Man 2|   6/25/2004|200000000| 783766341| 583766341|  4138153.8595564943|
|            Deadpool|    2/9/2016| 58000000| 783112979| 725112979|  3302727.3260203027|
|           Star Wars|   5/25/1977| 11000000| 775398007| 764398007|1.2774267001647446E7|
|Guardians of the ...|   7/30/2014|170000000| 773328629| 603328629|  3251301.7716899584|
|                2012|  10/10/2009|200000000| 769653595| 569653595|  3560293.6251312583|
|   The Da Vinci Code|   5/17/2006|125000000| 767820459| 642820459|   3784230.946278955|
|          Maleficent|   5/28/2014|180000000| 758539785| 578539785|  3182555.3299236814|
| Shrek Forever After|   5/16/2010|165000000| 752600867| 587600867|  3452851.9120042208|
|The Amazing Spide...|   6/27/2012|215000000| 752215857| 537215857|   3283294.298659124|
|The Hunger Games:...|  11/18/2014|125000000| 752100229| 627100229|  3202988.8975009792|
|X-Men: Days of Fu...|   5/15/2014|250000000| 747862775| 497862775|   3143601.408154687|
|Madagascar 3: Eur...|    6/6/2012|145000000| 746921274| 601921274|   3254870.941876781|
|       Suicide Squad|    8/2/2016|175000000| 745600054| 570600054|  3095715.7970346566|
| Monsters University|   6/20/2013|200000000| 743559607| 543559607|  3183100.7679926027|
| The Matrix Reloaded|   5/15/2003|150000000| 738599701| 588599701|  4025066.4904632154|
|                  Up|   5/13/2009|175000000| 735099082| 560099082|  3437355.4260811014|
|             Gravity|   9/27/2013|105000000| 716392705| 611392705|  3067458.6805169005|
|Captain America: ...|   3/20/2014|170000000| 714766572| 544766572|  3014976.7665519337|
|The Twilight Saga...|   3/15/2011|110000000| 712171856| 602171856|   3186921.809484174|
|Dawn of the Plane...|   6/26/2014|170000000| 710644566| 540644566|  2982768.3777544596|
|The Twilight Saga...|   3/15/2009| 50000000| 709827462| 659827462|  3337082.4083607183|
|        Transformers|   6/27/2007|150000000| 709709780| 559709780|  3407168.4453597954|
|The Amazing Spide...|   4/16/2014|200000000| 705717432| 505717432|  2966445.6998738963|
|The Twilight Saga...|   6/23/2010| 68000000| 698491347| 630491347|   3203927.081661017|
|Mission: Impossib...|   12/7/2011|145000000| 694713380| 549713380|   3078420.805416711|
|    The Hunger Games|   3/12/2012| 75000000| 691210692| 616210692|   3013229.284369115|
|Mission: Impossib...|   7/23/2015|150000000| 682330139| 532330139|  2863131.8879135265|
|        Forrest Gump|    7/6/1994| 55000000| 677945399| 622945399|  4568365.2223719675|
|      Doctor Strange|  10/25/2016|165000000| 677718395| 512718395|  2807996.5651970347|
|        Interstellar|   11/5/2014|165000000| 675120017| 510120017|   2858848.859416221|
|     The Sixth Sense|    8/6/1999| 40000000| 672806292| 632806292|   4026369.192100539|
+--------------------+------------+---------+----------+----------+--------------------+
only showing top 100 rows

In [18]:
metadata_df_12 = sqlc.sql("""
SELECT Title, Release_Date, Budget, Revenue, Profit, Adjusted_Revenue FROM
metadata_df_4
ORDER BY Adjusted_Revenue DESC
""")
metadata_df_12.coalesce(1).write.csv("removal Adjusted_Revenue DESC.csv")
metadata_df_12.show(100)

+--------------------+------------+---------+----------+----------+--------------------+
|               Title|Release_Date|   Budget|   Revenue|    Profit|    Adjusted_Revenue|
+--------------------+------------+---------+----------+----------+--------------------+
|  Gone with the Wind|  12/15/1939|  4000000| 400176459| 396176459|2.8584032785714287E7|
| Alice in Wonderland|    7/3/1951|  3000000| 572000000| 569000000|2.2084942084942088E7|
|               Bambi|   8/14/1942|   858000| 267447150| 266589150|1.6208918181818182E7|
|Snow White and th...|  12/20/1937|  1488423| 184925486| 183437063|1.3022921549295776E7|
|           Star Wars|   5/25/1977| 11000000| 775398007| 764398007|1.2774267001647446E7|
|             Titanic|  11/18/1997|200000000|1845034188|1645034188|1.1438525654060755E7|
|          Cinderella|    3/4/1950|  2900000| 263591415| 260691415|1.1169127754237287E7|
|        The Exorcist|  12/26/1973|  8000000| 441306145| 433306145|   9470088.948497854|
|  The Sound of Music|    3/2/1965|  8200000| 286214286| 278014286|   9144226.389776358|
|Star Wars: The Fo...|  12/15/2015|245000000|2068223624|1823223624|   8744207.267730683|
|                Jaws|   6/18/1975|  7000000| 470654000| 463654000|   8683653.136531364|
|E.T. the Extra-Te...|    4/3/1982| 10500000| 792965326| 782465326|   8355799.009483666|
|One Hundred and O...|   1/25/1961|  4000000| 215880014| 211880014|    7244295.77181208|
|        The Avengers|   4/25/2012|220000000|1519557910|1299557910|   6612091.943519788|
|The Empire Strike...|   5/17/1980| 18000000| 538400000| 520400000|   6510278.113663845|
|       Jurassic Park|   6/11/1993| 63000000| 920100000| 857100000|   6371883.656509695|
|           Furious 7|    4/1/2015|190000000|1506249360|1316249360|   6366254.126179739|
|      Jurassic World|    6/9/2015|150000000|1513528810|1363528810|   6342362.951415952|
|     The Jungle Book|  10/17/1967|  4000000| 205843612| 201843612|   6090047.692307693|
|The Lord of the R...|   12/1/2003| 94000000|1118888979|1024888979|   6071019.962018448|
|           Pinocchio|   2/23/1940|  2600000|  84300000|  81700000|   6021428.571428572|
|            Fantasia|  11/13/1940|  2280000|  83320000|  81040000|   5951428.571428572|
|Harry Potter and ...|    7/7/2011|125000000|1342000000|1217000000|   5940103.221465816|
|       The Godfather|   3/14/1972|  6000000| 245066411| 239066411|   5919478.526570048|
|Avengers: Age of ...|   4/22/2015|280000000|1405403694|1125403694|   5909899.682512983|
|  Return of the Jedi|   5/23/1983| 32350000| 572700000| 540350000|   5755778.894472362|
|Star Wars: Episod...|   5/19/1999|115000000| 924317558| 809317558|   5561477.484957882|
|Harry Potter and ...|  11/16/2001|125000000| 976475550| 851475550|   5526177.419354839|
|              Frozen|  11/27/2013|150000000|1274219009|1124219009|   5467601.272693725|
|       The Lion King|   6/23/1994| 45000000| 788241776| 743241776|   5311602.264150944|
|Pirates of the Ca...|   6/20/2006|200000000|1065659812| 865659812|   5236657.552825552|
|          Iron Man 3|   4/18/2013|200000000|1215439994|1015439994|   5217712.309772694|
|    Independence Day|   6/25/1996| 75000000| 816969268| 741969268|   5203625.910828025|
|Beauty and the Beast|   3/16/2017|160000000|1262886337|1102886337|   5164672.330732361|
|        Finding Nemo|   5/30/2003| 94000000| 940335536| 846335536|  5118865.1932498645|
|The Lord of the R...|  12/18/2002| 79000000| 926287400| 847287400|   5097894.331315355|
|The Fate of the F...|   4/12/2017|250000000|1238764765| 988764765|   5066025.277682355|
|             Ben-Hur|  12/26/1959| 15000000| 146900000| 131900000|   5013651.877133106|
|Transformers: Dar...|   6/28/2011|195000000|1123746996| 928746996|   4974048.547728863|
|The Lord of the R...|  12/18/2001| 93000000| 871368364| 778368364|   4920205.330321852|
|         Toy Story 3|   6/16/2010|200000000|1066969703| 866969703|     4894109.4853012|
|Close Encounters ...|  11/16/1977| 20000000| 303788635| 283788635|   4891926.489533011|
|             Shrek 2|   5/19/2004|150000000| 919838758| 769838758|   4848912.799156563|
|             Minions|   6/17/2015| 74000000|1156730962|1082730962|   4846895.346401066|
|Harry Potter and ...|  11/13/2002|100000000| 876688482| 776688482|   4835568.019856591|
|             Skyfall|  10/25/2012|200000000|1108561013| 908561013|   4815203.708610422|
|Captain America: ...|   4/27/2016|250000000|1153304495| 903304495|   4800854.580421181|
| Alice in Wonderland|    3/3/2010|200000000|1025491110| 825491110|   4712063.584691519|
|The Dark Knight R...|   7/16/2012|250000000|1084939099| 834939099|   4709366.300747898|
|Pirates of the Ca...|   5/14/2011|380000000|1045713802| 665713802|   4627789.391230461|
|Pirates of the Ca...|   5/19/2007|300000000| 961000000| 661000000|  4612386.7301489785|
|     The Dark Knight|   7/16/2008|185000000|1004558444| 819558444|   4585224.268095633|
|Transformers: Age...|   6/25/2014|210000000|1091405097| 881405097|   4580923.806925499|
|          Spider-Man|    5/1/2002|139000000| 821708551| 682708551|    4570125.42269188|
|        Forrest Gump|    7/6/1994| 55000000| 677945399| 622945399|  4568365.2223719675|
|Harry Potter and ...|   11/5/2005|150000000| 895921036| 745921036|   4534013.340080972|
|Harry Potter and ...|   6/28/2007|150000000| 938212738| 788212738|   4504163.428533022|
|The Ten Commandments|   10/5/1956| 13000000| 122700000| 109700000|   4461818.181818182|
|The Hobbit: An Un...|  11/26/2012|250000000|1021103568| 771103568|   4447295.821882308|
|         Thunderball|  12/16/1965|  5500000| 141195658| 135695658|   4440115.031446541|
|            Superman|  12/13/1978| 55000000| 300218018| 245218018|   4434534.977843427|
|Rogue One: A Star...|  12/14/2016|200000000|1056057273| 856057273|   4374139.604526326|
|Star Wars: Episod...|   5/17/2005|113000000| 850000000| 737000000|   4370179.948586118|
|Harry Potter and ...|  10/17/2010|250000000| 954305868| 704305868|   4361484.385497456|
|Harry Potter and ...|    7/7/2009|250000000| 933959197| 683959197|   4336915.997603912|
|            Zootopia|   2/11/2016|150000000|1023784195| 873784195|   4317742.302128539|
|Raiders of the Lo...|   6/12/1981| 18000000| 389925971| 371925971|   4303818.664459161|
|        Spider-Man 3|    5/1/2007|258000000| 890871626| 632871626|   4284087.088661162|
|        Finding Dory|   6/16/2016|200000000|1028570889| 828570889|   4274527.025117609|
|     Despicable Me 3|   6/15/2017| 80000000|1020063384| 940063384|  4164288.8857137025|
|Harry Potter and ...|   5/31/2004|130000000| 789804554| 659804554|   4163439.926199262|
|     Despicable Me 2|   6/25/2013| 76000000| 970761885| 894761885|   4155729.914039624|
|        Spider-Man 2|   6/25/2004|200000000| 783766341| 583766341|  4138153.8595564943|
|Ice Age: Dawn of ...|   6/29/2009| 90000000| 886686817| 796686817|    4117402.83072751|
|The Hobbit: The D...|  12/11/2013|250000000| 958400000| 708400000|  4112439.8731597215|
|The Hobbit: The B...|  12/10/2014|250000000| 956019788| 706019788|  4071426.4517997373|
|     The Jungle Book|    4/7/2016|175000000| 966550600| 791550600|    4039733.17841186|
|     The Sixth Sense|    8/6/1999| 40000000| 672806292| 632806292|   4026369.192100539|
| The Matrix Reloaded|   5/15/2003|150000000| 738599701| 588599701|  4025066.4904632154|
|          Goldfinger|   9/17/1964|  2500000| 124881062| 122381062|   4015468.231511254|
|Transformers: Rev...|   6/19/2009|150000000| 836297228| 686297228|  3883414.6486433777|
|               Ghost|   7/12/1990| 22000000| 505000000| 483000000|  3872699.3865030673|
|     Shrek the Third|   5/17/2007|160000000| 798958165| 638958165|  3834655.6068576253|
|Ice Age: Continen...|   6/26/2012| 95000000| 877244782| 782244782|  3829024.2946434803|
|Indiana Jones and...|   5/24/1989| 48000000| 474171806| 426171806|  3820884.8186946013|
|Terminator 2: Jud...|    7/1/1991|100000000| 520000000| 420000000|  3817914.8311306904|
|Saturday Night Fever|  12/16/1977|  3500000| 237113184| 233613184|         3793810.944|
|           Inception|   7/14/2010|160000000| 825532764| 665532764|   3786656.471462449|
|   The Da Vinci Code|   5/17/2006|125000000| 767820459| 642820459|   3784230.946278955|
|             Spectre|  10/26/2015|245000000| 880674609| 635674609|   3710665.929315401|
|        Men in Black|    7/2/1997| 90000000| 589390539| 499390539|   3672215.196261682|
|    Live and Let Die|    7/5/1973|  7000000| 161777836| 154777836|   3651869.887133183|
|Batman v Superman...|   3/23/2016|250000000| 873260194| 623260194|      3649822.553613|
|The Secret Life o...|   6/18/2016| 75000000| 875457937| 800457937|  3638221.3915255084|
|The Hunger Games:...|  11/15/2013|130000000| 847423452| 717423452|   3635933.787848234|
|Star Wars: Episod...|   5/15/2002|120000000| 649398328| 529398328|   3611781.579532814|
|The Twilight Saga...|  11/13/2012|120000000| 829000000| 709000000|  3600887.8425512877|
|Indiana Jones and...|   5/21/2008|185000000| 786636033| 601636033|   3594982.213285195|
|          Inside Out|    6/9/2015|175000000| 857611174| 682611174|   3593774.562307763|
|        Pretty Woman|   3/23/1990| 14000000| 463000000| 449000000|  3591931.7300232737|
+--------------------+------------+---------+----------+----------+--------------------+
only showing top 100 rows